<div id="sys{{system.pk}}SigAddForm" class="sigAddFormDiv">
    <h6>Add Signature:</h6>    
    <form id="sigAddForm" class="form-inline" action="system/signatures/add" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
            <br /><span class="label label-warning">{{field.errors}}</span> <br />
            {% endif %}
            {{field.label_tag}} {{field}} &nbsp
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Add Sig" />
    </form>
    <script type="text/javascript">
        $("#sigAddForm").submit(function(e){
                    e.preventDefault();
                    AddSignature({{system.pk}});
                    return false;
                    });
    </script>
</div>
