<div id="sys{{system.pk}}SigAddForm" class="sigAddFormDiv">
    <form id="sigAddForm" class="form-inline" action="system/signatures/add" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
            <br /><span class="label label-warning">{{field.errors}}</span> <br />
            {% endif %}
            {{field.label_tag}} {{field}} &nbsp
        {% endfor %}
        <input type="submit" value="Add Sig" />
    </form>
    <script type="text/javascript">
        $("#sigAddForm").submit(function(e){
                    e.preventDefault();
                    AddSignature({{system.pk}});
                    return false;
                    });
        {% if system.system.sysclass < 7 %}
        $("#id_info").autocomplete({
                source: "/search/site/",
                minLength: 2
                });
        {% endif %}
    </script>
</div>
