<div id="sys{{system.pk}}SigAddForm" class="sigAddFormDiv">
    <form id="sigAddForm" class="form-inline form-group" action="system/signatures/add" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
            <br /><span class="label label-warning">{{field.errors}}</span> <br />
            {% endif %}
            {{field.label_tag}} {{field}} &nbsp;
        {% endfor %}
        <input class="btn btn-sm btn-primary" type="submit" value="Add" />
    </form>
    <script type="text/javascript">
        $("#sigAddForm").submit(function(e){
            e.preventDefault();
            AddSignature({{system.pk}});
            return false;
        });
    </script>
</div>
