<div id="addSystemDialog" style="width: 600px">
	<div class="modal-header">
        <h4 class="center_text">Add System Connected To: {{topMs.system.name}}</h4>
    </div>
    <div class="modal-body">
        <form id="sysAddForm" class="form-horizontal form-group" action="system/new/" method="post">
            {% csrf_token %}
            <input type="hidden" class="sysAddInput" name="topMsID" value="{{topMs.pk}}">
            <div class="control-group">
            	<div class="col-md-6 input-margin">
                	<label class="control-label" for="sysNameBox">System:</label>
                </div>
                <div class="col-md-6 input-margin">
                    <input type="text" class="sysAddInput systemAuto form-control input-sm" name="bottomSystem" id="sysNameBox" value ="{{newsystem}}" />
                </div>
            	<div class="col-md-6 input-margin">
                	<label class="control-label" for="friendlyNameBox">Friendly Name (Max 8 Char.):</label>
                </div>
                <div class="col-md-6 input-margin">
                    <input type="text" class="sysAddInput form-control input-sm" name="friendlyName" id="friendlyNameBox" value="">
                </div>
            	<div class="col-md-6 input-margin">
                	<label class="control-label" for="timeStatusAnchor">Time Status:</label>
                </div>
                <div class="col-md-6 input-margin">
                    <label for="timeStatusNormal"><input type="radio" id="timeStatusAnchor" class="sysAddInput" name="timeStatus" value="0" checked="checked"> Normal &nbsp</label><br />
                    <label for="timeStatusEol"><input type="radio" class="sysAddInput" name="timeStatus" value="1"> End of Life</label><br />
                </div>
            </div>
            <br /><br />
            <div class="control-group">
            	<div class="col-md-6">
                	<label class="control-label" for="massStatusAnchor">Mass Status:</label>
                </div>
                <div class="col-md-6">
                    <label for="massStatusNormal"><input type="radio" id="massStatusAnchor" class="sysAddInput" name="massStatus" value="0" checked="checked"> Normal &nbsp</label><br />
                    <label for="massStatusReduced"><input type="radio" class="sysAddInput" name="massStatus" value="1"> First Shrink &nbsp</label><br />
                    <label for="massStatusCritical"><input type="radio" class="sysAddInput" name="massStatus" value="2"> Critical</label><br />
                </div>
                <div>
                    <h5>Wormhole Information</h5>
                    <div class="row">
                        <div class="col-md-5"> 
                            <h5>{{topMs.system.name}} ({{topMs.friendlyname}})</h5>
                            <fieldset class="addSystemWormholeType">
                                <label for="topTypeInput">Type:</label>
                                <input type="text" class="sysAddInput wormholeAuto input-sm form-control" id="topTypeInput" name="topType" value="K162" onclick="this.value = '';" />
                                <div class="checkbox">
	                                <label>
	                                    <input type="checkbox" class="sysAddInput" name="topBubbled" id="topBubbledCheckbox">Bubbled
	                                </label>
	                            </div>
                            </fieldset>
                        </div>
                        <div class="col-md-2"><h5><></h5></div>
                        <div class="col-md-5">
                            <h5>Other Side</h5>
                            <fieldset class="addSystemWormholeType">
                                <label for="bottomTypeInput">Type:</label>
                                <input type="text" class="sysAddInput wormholeAuto input-sm form-control" id="bottomTypeInput" name="bottomType" value="K162" onclick="this.value = '';" />
                                <div class="checkbox">
	                                <label>
	                                    <input type="checkbox" id="bottomBubbledCheckbox" class="sysAddInput" name="bottomBubbled">Bubbled
	                                </label>
	                            </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <input type="submit" style="display: none;">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="sysCloseButton" class="btn btn-danger btn-sm" onclick="$('#modalHolder').parent().hide();">Close</a>
        <a href="#" id="sysAddSubmit" onclick="$('#sysAddForm').submit();" class="btn btn-sm btn-primary">Add System</a>
    </div>
    <script type="text/javascript">
        $('#sysAddForm').submit(function(e){
            e.preventDefault();
            AddSystem();
            $('#modalHolder').parent().hide();
            return false;
        });
    </script>
</div>

