<div id="bulkSigDialog">
    <div class="modal-header">
        <h4>Signature Import: {{mapsys.system.name}}</h4>
    </div>
    <div class="modal-body">
    <form id="bulkSigForm" class="bulkSigForm" method="port" action="system/{{mapsys.pk}}/signatures/bulkadd/">
        <p class="text-info">
        To use this feature, copy your in-game signature list and paste it here.<br /><br />
        Signatures already on the map will not be added again!
        </p>
        <textarea name="paste" id="pasteField" rows=8></textarea><br />
        <br />
    </form>
    <div class="modal-footer">
        <a href="#" id="btnImport" class="btn btn-primary">Import Sigs</a>
    </div>
</div>
    <script type="text/javascript">
        $('#bulkSigForm').submit(function(e){
                    e.preventDefault();
                    BulkImport({{mapsys.pk}});
                    $('#modalHolder').modal('hide');
                    return false;
                    });
        $('#btnImport').click(function(e){
                    BulkImport({{mapsys.pk}});
                    $('#modalHolder').modal('hide');
                });
    </script>
</div>
