<table class="destinationTable" cellpadding="10">
    <tr>
        <th>Remove</th>
        <th>System</th>
    </tr>
    {% for dest in destinations %}
        <tr>
            <td><i class="icon-ban-circle" onclick="RemoveDestination({{dest.pk}});"></i></td>
            <td>{{dest.system.name}}</td>
        </tr>
    {% endfor %}
</table>
<form id="addDestinationForm" method="post" action="/map/settings/destinations/new/">
    <h4>Add Destination:</h4>
    System: <input type="text" class="systemAuto" id="sysNameBox" name="systemName"> &nbsp
    <input type="submit" class="btn btn-primary" value="Add Destination">
</form>
<script type="text/javascript">
    $('#addDestinationForm').submit(function(e){
                e.preventDefault();
                AddDestination();
                return false;
            });
</script>
