<div id="sys{{system.pk}}SigAddForm" class="sigAddFormDiv">
    <h6>Edit Signature:</h6>
    <form id="sigEditForm" class="form-inline" action="system/signatures/add" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
            <br /><span class="label label-warning">{{field.errors}}</span> <br />
            {% endif %}
            {{field.label_tag}} {{field}} &nbsp
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Save Sig" />
    </form>
    <script type="text/javascript">
        $("#sigEditForm").submit(function(e){
                    e.preventDefault();
                    EditSignature({{system.pk}}, {{sig.pk}});
                    return false;
                });
    </script>
</div>
