<form id="mapGeneralSettingsForm" action="/map/settings/general/" method="post">
    <table>
        <tr>
            <td>Last Scanned Warning Threshold (hours):</td>
            <td><input type="text" class="input-mini" name="scanwarn" value="{{scanwarn}}"></td>
        </tr>
        <tr>
            <td>System Interest Timeout (minutes):</td> 
            <td><input type="text" class="input-mini" name="interesttimeout" value="{{interesttimeout}}"></td>
        </tr>
        <tr>
            <td>NPC Kills Threshold:</td>
            <td> <input type="text" class="input-mini" name="npcthreshold" value="{{npcthreshold}}"></td>
        </tr>
        <tr>
            <td>PVP Kills Threshold (ships + pods):</td>
            <td> <input type="text" class="input-mini" name="pvpthreshold" value="{{pvpthreshold}}"></td>
        </tr>
        <tr>
            <td>Downtimes before Burning Escalation:</td>
            <td> <input type="text" class="input-mini" name="escdowntimes" value="{{escdowntimes}}"></td>
        </tr>
    </table>
    <br />
    <input type="submit" class="btn btn-primary" value="Save Changes">
</form>
<script type="text/javascript">
    $('#mapGeneralSettingsForm').submit(function(e){
                e.preventDefault();
                SaveGlobalSettings();
                return false;
            });
</script>

