<form id="mapGeneralSettingsForm" class="settingsForm form-group" action="/map/settings/general/" method="post">
    <table>
        <tr>
            <td>Last Scanned Warning Threshold (hours):&nbsp;</td>
            <td><input type="text" class="input-sm form-control input-margin" name="scanwarn" value="{{scanwarn}}"></td>
        </tr>
        <tr>
            <td>System Interest Timeout (minutes):</td> 
            <td><input type="text" class="input-sm form-control input-margin" name="interesttimeout" value="{{interesttimeout}}"></td>
        </tr>
        <tr>
            <td>NPC Kills Threshold:</td>
            <td> <input type="text" class="input-sm form-control input-margin" name="npcthreshold" value="{{npcthreshold}}"></td>
        </tr>
        <tr>
            <td>PVP Kills Threshold (ships + pods):</td>
            <td> <input type="text" class="input-sm form-control input-margin" name="pvpthreshold" value="{{pvpthreshold}}"></td>
        </tr>
        <tr>
            <td>Downtimes before Burning Escalation:</td>
            <td> <input type="text" class="input-sm form-control input-margin" name="escdowntimes" value="{{escdowntimes}}"></td>
        </tr>
        <tr>
            <td>Advanced Logging:</td>
            <td> 
                <input id='advlogging' type='radio' name='advlogging' value='1' {% if advlogging == '1' %}checked='checked'{% endif %} /> On &nbsp;
                <input type='radio' name='advlogging' value='0' {% if advlogging == '0' %}checked='checked'{% endif %} /> Off
            </td>
        </tr>
        <tr>
            <td>Autodelete old signatures:</td>
            <td> 
                <input id='autodelsigs' type='radio' name='autodelsigs' value='1' {% if autodelsigs == '1' %}checked='checked'{% endif %} /> On &nbsp;
                <input type='radio' name='autodelsigs' value='0' {% if autodelsigs == '0' %}checked='checked'{% endif %} /> Off
            </td>
        </tr>
        <tr>
            <td>Autodelete Threshold (days):</td>
            <td><input type="text" class="input-sm form-control input-margin" name="autodeldays" value="{{autodeldays}}"></td>
        </tr>
    </table>
    <br />
    <input type="submit" class="btn btn-primary btn-sm" value="Save Changes">
</form>
<script type="text/javascript">
    $('#mapGeneralSettingsForm').submit(function(e){
                e.preventDefault();
                SaveGlobalSettings();
                return false;
            });
</script>

