    <div class="modal-header">
        <h4>New System: {{newsystem.name}} ({{newsystem.sysclass}})</h4>
    </div>
    <div class="modal-body">
    <form id="sysAddForm" action="system/new/" method="post">
        {% csrf_token %}
        <input type="hidden" class="sysAddInput" name="topMsID" value="{{oldsystem.pk}}">
        <input type="hidden" class="sysAddInput" name="bottomSystem" value="{{newsystem}}">
        <h4>Friendly Name: Max 8 Char.</h4>
        <input type="text" class="sysAddInput" name="friendlyName" value=""> <br />

        <h4>Wormhole Status:</h4>
        Time Status: <br />
        <input type="radio" class="sysAddInput" name="timeStatus" value="0" checked="checked">Normal<br />
        <input type="radio" class="sysAddInput" name="timeStatus" value="1">End of Life<br />
        <br />
        Mass Status: <br />
        <input type="radio" class="sysAddInput" name="massStatus" value="0" checked="checked">Normal<br />
        <input type="radio" class="sysAddInput" name="massStatus" value="1">First Shrink<br />
        <input type="radio" class="sysAddInput" name="massStatus" value="2">Critical<br />
        <br />
        <h4>Wormhole in: {{oldsystem.system.name}}</h4>
        Type:
        <br />
        <input type="radio" class="sysAddInput" name="topType" value="K162" checked="checked">K162<br/>
        {% for wh in wormholes.system1 %}
        <input type="radio" class="sysAddInput" name="topType" value={{wh.name}}>{{wh.name}}<br />
        {% endfor %}
        <br />
        Bubbled: <br />
        <input type="radio" class="sysAddInput" name="topBubbled" value="0" checked="checked">No <br />
        <input type="radio" class="sysAddInput" name="topBubbled" value="1">Yes
        <br />
        
        <h4>Wormhole in: {{newsystem.name}}</h4>
        Type:
        <br />
        <input type="radio" class="sysAddInput" name="bottomType" value="K162" checked="checked">K162 <br />
        {% for wh in wormholes.system2 %}
        <input type="radio" class="sysAddInput" name="bottomType" value={{wh.name}}>{{wh.name}}<br />
        {% endfor %}
        <br />
        Bubbled: <br />
        <input type="radio" class="sysAddInput" name="bottomBubbled" value="0" checked="checked">No <br />
        <input type="radio" class="sysAddInput" name="bottomBubbled" value="1">Yes
        <br />
        <input type="submit" style="display: none;">
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn" id="btnClose">Don't Add</a>
    <a href="#" class="btn btn-primary" id="btnIGBAdd">Add System</a>
</div>
        <script type="text/javascript">
            $('#sysAddForm').submit(function(e){
                        e.preventDefault();
                        AddSystem();
                        $('#modalHolder').modal('hide');
                        return false;
                        });
            $('#btnIGBAdd').click(function(e){
                        AddSystem();
                        $('#modalHolder').modal('hide');
                        });
            $('#btnClose').click(function(e){
                        $('#modalHolder').modal('hide');
                    });
        </script>

