{% extends "base.html" %}
{% block title %}Map: {{map.name}}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/raphael-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/map_functions.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/map.css" type="text/css" />
    <script type="text/javascript">var ajax_image = "<img src= '{{STATIC_URL}}images/loading.gif'></img>"; </script>
{% endblock %}
{% block contentheader %}
<input type="button" class="button" value="Refresh" onclick="RefreshMap();" />
<div id="mapDiv" class="mapDiv">

</div>
{% endblock %}
{% block content %}
<div id="sysInfoDiv" class="sysInfoDiv">
    <a name="sysInfo"></a>
</div>
{% endblock %}

