{% extends "base.html" %}
{% block title %}Map: {{map.name}}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/raphael-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/map_functions.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/map.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/map-slate.css" type="text/css" />
    <script type="text/javascript">var ajax_image = "<img src= '{{STATIC_URL}}images/loading.gif'></img>"; </script>
{% endblock %}
{% block contentheader %}
<div class="reload_hover">
<img title="Refresh Map" height=32 width=32 src={{STATIC_URL}}images/reload.png onclick="RefreshMap();" />
</div>
<div id="mapDiv" class="mapDiv">

</div>
<div id="legendDiv">
    <p class="text-info">
        <em>Legend:</em> &nbsp
        <img src='{{STATIC_URL}}images/pvp.png' height='32' width='32'></img> : PVP Activity 
        <img src='{{STATIC_URL}}images/carebears.png' height='32' width='32'></img> : NPC Kills
        <img src='{{STATIC_URL}}images/mylocation.png' height='32' width='32'></img> : You are here!
        {% if perms.SiteTracker.can_sitetracker %}
        <img src='{{STATIC_URL}}images/farm.png' height='32' width='32'></img> : SiteTracker Up!
        {% endif %}
    </p>
</div>
<div id="logDiv" class="logDiv">
</div>
{% endblock %}
{% block content %}
<div id="sysInfoDiv" class="sysInfoDiv">
    <a name="sysInfo"></a>
</div>
{% endblock %}

