{% extends "base.html" %}
{% block title %}Map: {{map.name}}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/raphael-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/map_functions.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/map.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/map-slate.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/slider.css" type="text/css" />
    {% if is_igb %}
    <script type="text/javascript">var is_igb = true;</script>
    {% else %}
    <script type="text/javascript">var is_igb = false;</script>
    {% endif %}
    <script type="text/javascript">
        var ajax_image = "<img src= '{{STATIC_URL}}images/loading.gif'></img>";
        var zenMode = {% if user.get_settings.MAP_ZEN_MODE == '1' %}true{% else %}false{% endif %};
        var showPilotList = {% if user.get_settings.MAP_PILOT_LIST == '1' %}true{% else %}false{% endif %};
        var renderWormholeTags = {% if user.get_settings.MAP_RENDER_WH_TAGS == '1' %}true{% else %}false{% endif %};
        var scalingFactor = {{user.get_settings.MAP_SCALING_FACTOR}};
        var defaultScalingFactor = {{user.get_settings.MAP_SCALING_FACTOR}};
        var autoRefresh = {% if user.get_settings.MAP_AUTO_REFRESH == '1' %}true{% else %}false{% endif %};
        var kspaceIGBMapping = {% if user.get_settings.MAP_KSPACE_MAPPING == '1' %}true{% else %}false{% endif %};
        var highlightActivePilots  = {% if user.get_settings.MAP_HIGHLIGHT_ACTIVE == '1' %}true{% else %}false{% endif %};
        var silentSystem = {% if user.get_settings.MAP_SILENT_MAPPING == '1' %}true{% else %}false{% endif %};
        var renderCollapsedConnections = {% if user.get_settings.MAP_RENDER_COLLAPSED == '1' %}true{% else %}false{% endif %};
        $(document).ready(function() {
                $('#mapDiv').html(ajax_image);
                scale({{user.get_settings.MAP_SCALING_FACTOR}});
                });
    </script>
    {% load sitetracker %}
    {% sitetracker_scripts %}
{% endblock %}
{% block contentheader %}
<div id="scrollmenu">
<div id="backtotop" onclick="window.location.href = '#';"></div>
<div id="tobuttons" onclick="window.location.href = '#sysInfoDiv';"></div>
</div>
{% include "map_toolbar.html" %}
<div id="mapDiv" class="mapDiv"></div>
<div id="systemTooltipHolder"></div>
{% include "map_legend.html" %}
<div id="logDiv" class="logDiv">
</div>
<div id="wormholeTooltipHolder" style="">
</div>
{% endblock %}
{% block content %}
<div id="sysInfoDiv" class="sysInfoDiv">
    <a name="sysInfo"></a>
</div>
{% endblock %}
