
<form id="map{{map.pk}}SettingsForm" class="form form-horizontal">
    {% if saved %}
    <div class="alert alert-success" style="margin-left: 200px; width: 250px">
        <h5>Map Settings Saved</h5>
    </div>
    {% endif %}
   <div class="form-group">
        <label class="control-label col-md-2" for="map{{map.pk}}Name">Map Name:</label>
        <div class="col-md-10">
            <input type="text" class="input-sm form-control" name="name" id="map{{map.pk}}Name" value="{{map.name}}" />
        </div>
    </div>
    <div class="form-group">
      	<div class="col-sm-offset-2 col-sm-10">
	        <div class="checkbox">
	            <label>
	                <input type="checkbox" {% if map.explicitperms %}checked="checked"{% endif %} name="explicitperms"> Explicit Permissions Only
	            </label>
	        </div>
        </div>
    </div>
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
	    	<div class="checkbox">
	        	<label>
	                <input type="checkbox" {% if map.truncate_allowed %}checked="checked"{% endif %} name="truncate_allowed"> Truncate Function Enabled
	            </label>
	        </div>
        </div>
    </div>
    <div class="form-group">
        <div class="control-group" style="width: 600px; padding: 20px;">
            <h5>Explicit Permission Table</h5>
            <h6 class="text-info">Unless Explicit Permissions Only is set, users with the Unrestricted global permission will have Change access.</h6>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>None</th>
                        <th>Read</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group,access in groups %}
                    <tr>
                        <td>{{group.name}}</td>
                        <td>
                            <input type="radio" name="map-{{map.pk}}-group-{{group.pk}}-permission" value="0" {% if access == 0 %}checked="checked"{% endif %}>
                        </td>
                        <td>
                            <input type="radio" name="map-{{map.pk}}-group-{{group.pk}}-permission" value="1" {% if access == 1 %}checked="checked"{% endif %}>
                        </td>
                        <td>
                            <input type="radio" name="map-{{map.pk}}-group-{{group.pk}}-permission" value="2" {% if access == 2 %}checked="checked"{% endif %} >
                        </td>
                    </tr>
                    <script type="text/javascript">
                    </script>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="control-group" style="margin-left: 200px;">
            <button class="btn btn-success btn-sm" type="submit">Save Map</button>
            <button id="map{{map.pk}}DeleteButton" class="btn btn-danger btn-sm">Delete Map</button>
            <button id="map{{map.pk}}FinalDelete" style="display: none;" class="btn btn-warning btn-sm">Really Delete</button>
            <script type='text/javascript'>
                $('#map{{map.pk}}FinalDelete').click(function(e){
                        e.preventDefault();
                        DeleteMap({{map.pk}});
                        });
                $('#map{{map.pk}}DeleteButton').click(function(e){
                        e.preventDefault();
                        $('#map{{map.pk}}DeleteButton').hide();
                        $('#map{{map.pk}}FinalDelete').show();
                        return false;
                        });
            </script>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('#map{{map.pk}}SettingsForm').submit(function(e){
                e.preventDefault();
                SaveMapSettings({{map.pk}});
            });
</script>
