<div id="legendDiv">
    <em>Legend:</em>&nbsp;
    <ul class="list-inline">
        <li><img src="{{STATIC_URL}}images/pvp.png" height="32" width="32"/>  PVP Activity </li>
        <li> <img src="{{STATIC_URL}}images/carebears.png" height="32" width="32"/>  NPC Kills </li>
        <li> <img src="{{STATIC_URL}}images/mylocation.png" height="32" width="32"/>  You are here! </li>
	    {% if perms.SiteTracker.can_sitetracker %}
	        <li><img src="{{STATIC_URL}}images/farm.png" height="32" width="32"/>  SiteTracker Up! </li>
	    {% endif %}
        <li><img src="{{STATIC_URL}}images/scan.png" height="32" width="32"/>  Unscanned (last 24h) </li>
        <li><img src="{{STATIC_URL}}images/isis_scan.png"/>  Partially scanned</li>
    </ul>
</div>
