<div class="accordion" id="map_accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#mapGeneral">
                General Settings
            </a>
        </div>
        <div id="mapGeneral" class="accordion-body collapse">
            <div class="accordion-inner">
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#Destinations">
                Destinations
            </a>
        </div>
        <div id="Destinations" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    The distance to these systems appear in the details for all K-Space systems. A capital destination will also show Light-Year distance. 
                </p>
                <table class="destinationTable" cellpadding="10">
                    <tr>
                        <th>Remove</th>
                        <th>System</th>
                        <th>Capital</th>
                    </tr>
                    {% for dest in destinations %}
                        <tr>
                            <td><i class="icon-ban-circle" onclick="RemoveDestination({{dest.pk}});"></i></td>
                            <td>{{dest.system.name}}</td>
                            <td>
                                <span onclick="ToggleCapital({{dest.pk}});" title="Click to Toggle"> 
                                    {{dest.capital|yesno}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#Permissions">
                Global Permissions
            </a>
        </div>
        <div id="Permissions" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    These permissions affect access across all maps.
                </p>

            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#SigTypes">
                Signature Types
            </a>
        </div>
        <div id="SigTypes" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                Here you can define custom signature types. <br />
                <br />
                NOTE: Deleting a Signature Type will remove all signatures of that type and all site spawns associated with that type.
                </p>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#SiteSpawns">
                Site Spawns
            </a>
        </div>
        <div id="SiteSpawns" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    Here you can add, remove, and change site listings.
                </p>
            </div>
        </div>
        {% for m in maps %}
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#map{{m.pk}}Settings">
                Map: {{m.name}}
            </a>
        </div>
        <div id="map{{m.pk}}Settings" class="accordion-body collapse">
            <div class="accordion-inner">
            </div>
        </div>
        {% endfor %}
    </div>    
</div>
