<div class="accordion" id="map_accordion">
    {% load static %}
    <script type="text/javascript" src="{% get_static_prefix %}js/map_settings.js"></script>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#mapGeneral">
                General Settings
            </a>
        </div>
        <div id="mapGeneral" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    These settings affect the behavior of all maps.
                </p>
                <div id="generalDiv">
                </div>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#Destinations">
                Global Destinations
            </a>
        </div>
        <div id="Destinations" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    The distance to these systems (jumps and LY) appear in the details for all K-Space systems.
                </p>
                <div id="destinationsDiv">
                </div>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#Permissions">
                Global Permissions
            </a>
        </div>
        <div id="Permissions" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    These permissions affect access across all maps.
                </p>
                <div id="globalPermsDiv">
                </div>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#SigTypes">
                Signature Types
            </a>
        </div>
        <div id="SigTypes" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                Here you can define custom signature types. <br />
                <br />
                NOTE: Deleting a Signature Type will remove all signatures of that type and all site spawns associated with that type.
                </p>
                <div id="sigTypesDiv">
                </div>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#SiteSpawns">
                Site Spawns
            </a>
        </div>
        <div id="SiteSpawns" class="accordion-body collapse">
            <div class="accordion-inner">
                <p class="text-info">
                    Here you can add, remove, and change site listings.
                </p>
                <div id="siteSpawnsDiv">
                </div>
            </div>
        </div>
        {% for m in maps %}
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map_accordion" href="#map{{m.pk}}Settings">
                Map: {{m.name}}
            </a>
        </div>
        <div id="map{{m.pk}}Settings" class="accordion-body collapse">
            <div class="accordion-inner">
                <div id="map{{m.pk}}Div">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</div>
