<div class="btn-toolbar">
    <button class="btn btn-mini" onclick="RefreshMap();"><i class="icon-refresh"></i> Refresh</button>
    <button id="btnRefreshToggle" class="btn btn-mini btn-info" onclick="ToggleAutoRefresh();">Auto Refresh: <span></span></button>
    {% if is_igb %}
    <button id="btnSilentAdd" class="btn btn-mini btn-info" onclick="ToggleSilentAdd();">Silent IGB Mapping: <span></span></button>
    <button id="btnKspaceIGB" class="btn btn-mini btn-info" onclick="ToggleKspaceMapping();">Map K-Space Connections: <span></span></button>
    {% endif %}
    <button id="btnPilotList" class="btn btn-mini btn-info" onclick="TogglePilotList();">Pilot List: <span></span></button>
    <button id="btnExportMap" class="btn btn-mini btn-info" onclick="GetExportMap();">Export</button>
    <button id="btnZen" class="btn btn-mini btn-info" onclick="ToggleZen()">Zen: <span></span></button>
    <button id="btnLegend" class="btn btn-mini btn-info" onclick="$('#legendDiv').toggle()">Legend</button>
    <span style="margin-right: 5px; margin-left: 5px;"></span>
    <input id="scaleSlider" type="text" class="slider" value="" data-slider-min=".1" data-slider-max="2" data-slider-step=".1" data-slider-value="{{user.get_settings.MAP_SCALING_FACTOR}}" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">
</div>
