{% extends "base.html" %}
{% block title %}Eve W-Space: New Map{% endblock %}
{% block content %}
<form class='form-horizontal'action="{% url 'Map.views.create_map' %}" method="post">
    {% csrf_token %}
    <div class="control-group">
        <label class='control-label' for='mapName'>Map Name:</label>
        <div class='controls'>
            <input type='text' name='name' id='mapName'>
        </div>
    </div>
     <div class="control-group">
        <label class='control-label' for='mapRoot'>Root System:</label>
        <div class='controls'>
            <input class="systemAuto" type='text' name='root' id='mapRoot'>
        </div>
    </div>
     <div class="control-group">
        <label class='control-label' for='explicitPerms'>Require Explicit Permissions?</label>
        <div class='controls'>
            <input type='checkbox' id='explicitPerms' name='explicit_perms'>
        </div>
    </div>
    <div style="margin-left: 200px;">
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}

