<div class="siteSpawnsDialog" id="siteSpawnsDialog">
    <div class="modal-header">
        <h4>Site Spawns</h4>
    </div>
    <div class="modal-body">
    <div class="accordion" id="spawnsAccordion">
    {% for s in spawns %}
    <div class="accordion-group">
        <div class="spawnNav accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#spawnsAccordion" href="#{{s.pk}}">{{s.sitename}}</a>
        </div>
        <div class="spawnsEntry accordion-body collapse" id="{{s.pk}}">
            {{s.spawns|safe}}
        </div>
    </div>
    {% empty %}
        <span label="label label-inverse">There are no site spawns recorded for this signature.</span>
    {% endfor %}
</div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary" onclick="$('#modalHolder').modal('hide');">Close</a>
</div>
</div>
