<div id="sysMenu" class="sysMenuDiv">
<div class="btn-group btn-group-vertical">
    <a class="btn" onclick="DisplaySystemDetails({{mapsys.pk}}, {{mapsys.system.pk}});" href="#sysInfo">Details </a>
    {% if is_igb and mapsys.system.sysclass > 6 %}
    <a class="btn" onclick="CCPEVE.setDestination({{mapsys.system.pk}});">Set Autopilot</a>
    {% endif %}
    {% if mapsys.parent_wormholes.get.collapsed and mapsys.parent_wormholes.get %}
    <a class="btn" onclick="ResurrectSystem({{mapsys.pk}});">Resurrect System</a>
    {% elif mapsys.parent_wormholes.get %}
    <a class="btn" onclick="CollapseSystem({{mapsys.pk}});">Collapse System</a>
    {% endif %}
    {% if not is_igb %}
    <a class="btn" onclick="AssertLocation({{mapsys.pk}});">I'm Here</a>
    {% endif %}
    <a class="btn" onclick="GetAddSystemDialog({{mapsys.pk}});">Add System</a>
    {% if perms.SiteTracker.can_sitetracker and not stfleets|length %}
    <a class="btn" onclick="STCreateFleet({{mapsys.system.pk}});">ST Fleet Here</a>
    {% endif %}
    <div id="intelButton" class="btn-group dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            Intel
            <span class="caret"></span>
        </a>
        <ul id="intelDropdown" class="dropdown-menu" role="menu">
        <li><a href="http://www.wormnav.com/index.php?locus={{system.name}}" target="_blank">Wormnav</a></li>
        <li><a href="http://www.staticmapper.com/index.php?system={{system.name}}" target="_blank">StaticMapper</a></li>
        <li><a href="http://evemaps.dotlan.net/system/{{system.name}}" target="_blank">Dotlan</a></li>
        {% if system.sysclass < 7 %}
        <li><a href="http://www.wormhol.es/{{system.name}}" target="_blank">Wormhol.es</a></li>
        {% endif %}

    </ul>
</div>
            {% if isinterest %}
            <a class="btn" onclick="RemoveInterest({{mapsys.pk}});" >Remove Interest </a>
            {% else %}
            <a class="btn" onclick="SetInterest({{mapsys.pk}});" >Set Interest</a>

            {% endif %}
            <a class="btn" onclick="MarkScanned({{mapsys.pk}}, false, {{mapsys.system.pk}});">Mark Scanned</a>
        <div id="deleteButton" class="btn-group dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                Delete
            </a>
            <ul id="deleteDropdown" class="dropdown-menu" role="menu">
                <li><a onclick="DeleteSystem({{mapsys.pk}});")>I'm sure!</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown")>Just Kidding!</a></li>
            </ul>
        </div>
    </div>
</div>
