<table class="destinationTable">
    <tr>
        <th>System</th>
        <th>Jumps</th>
        <th>LY</th>
        {% if is_igb_trusted %}
        <th>Autopilot</th>
        {% endif %}
    </tr>
    {% for dest, jumps, ly in destinations %}
        <tr>
            <td>{{dest.name}}</td>
            <td>{{jumps}}</td>
            <td>{{ly}}</td>
            {% if is_igb_trusted %}
            <td><button class='btn btn-mini btn-info' onclick="CCPEVE.setDestination({{dest.pk}});">D</button>&nbsp<button class='btn btn-mini btn-info' onclick="CCPEVE.addWaypoint({{dest.pk}});">W</button></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
