    <ul class="sysSigsList">
        {% for sig in system.system.signatures.all %}
            <li class="sysSigsEntry">
            <i class="icon-pencil" title="Edit" onclick="EditSignature({{sig.pk}}, {{system.pk}});"></i> &nbsp
            <i class="icon-ban-circle" title="Delete" onclick="RemoveSignature({{sig.pk}}, {{system.pk}});"></i> &nbsp
            {% if sig.updated %}
                <i class="icon-ok-sign" title="Signature Updated"></i> &nbsp
            {% else %}
                <i class="icon-remove-sign" title="Signature Not Updated"></i> &nbsp
            {% endif %}
            <span class="signatureID">{{sig.sigid}}</span> &nbsp
            <span class="signatureType" onclick="GetSiteSpawns({{sig.system.sysclass}}, {{sig.sigtype.pk}});" title="{{sig.sigtype.longname}}">{{sig.sigtype.shortname}}</span> &nbsp
            <span class="signatureInfo">{{sig.info}}</span>
            {% if sig.sigtype.sleeprsite and not sig.ratscleared %}
                <i class="icon-warning-sign" title="Sleepers not cleared!"></i> &nbsp
            {% elif sig.sigtype.sleeprsite %}
                <i class="icon-screenshot" title="Sleepers cleared at {{sig.ratscleared|date:'Y-m-d H:i'}}"></i> &nbsp
            {% endif %}
            {% if sig.sigtype.escalatable %}
                {% if sig.lastescalated < escalationThreshold or not sig.lastescalated %}
                    {% if sig.downtimes = 2 %}
                        <i class="icon-fire" title="Site will despawn at DT."></i>
                    {% else %}
                        <i class="icon-fullscreen" title="Clear escalation only."></i>
                    {% endif %}        
                {% endif %}
            {% elif sig.sigtype.escalatable and sig.lastescated > escalationThreshold %}
                <i class="icon-ok" title="Site escalated today."></i>
            {% endif %}
            </li>
        {% empty %}
            <li class="sysSigsEntry">No Signatures!</li>
        {% endfor%}
    </ul>
