{% load cache %}
<table class="destinationTable">
    <tr>
        <th>System</th>
        <th>Jumps</th>
        <th>LY</th>
        {% if is_igb_trusted %}
        <th>Autopilot</th>
        {% endif %}
    </tr>
    {% load routetags %}
    {% for d in destinations %}
        <tr>
            <td>{{d.system.name}}</td>
            <td>{% jumps system d.system %}</td>
            <td>{% ly system d.system %}</td>
            {% if is_igb_trusted %}
            <td><button class='btn btn-mini btn-info' onclick="CCPEVE.setDestination({{d.system.pk}});">Set</button></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
