    <ul class="sysSigsList">
        {{escalationThreshold}}
        {% for sig in system.system.signatures.all %}
            <li class="sysSigsEntry">
            <i class="icon-pencil" title="Edit" onclick="EditSignature({{sig.pk}}, {{system.pk}});"></i> &nbsp
            <i class="icon-ban-circle" title="Delete" onclick="DeleteSignature({{sig.pk}}, {{system.pk}});"></i> &nbsp
            {% if sig.updated %}
                <i class="icon-ok-sign" title="Signature Updated"></i> &nbsp
            {% else %}
                <i class="icon-remove-sign" title="Signature Not Updated"></i> &nbsp
            {% endif %}
            <span class="signatureID">{{sig.sigid}}</span> &nbsp
            <span class="signatureType" onclick="GetSiteSpawns({{sig.system.sysclass}}, {{sig.sigtype.pk}});" title="{{sig.sigtype.longname}}">{{sig.sigtype.shortname}}</span> &nbsp
            <span class="signatureInfo">{{sig.info}}</span>
            {% if sig.sigtype.sleeprsite and not sig.ratscleared %}
            <i class="icon-warning-sign" onclick="MarkCleared({{sig.pk}}, {{system.pk}});" title="NPCs not cleared!"></i> &nbsp
            {% elif sig.sigtype.sleeprsite %}
                <i class="icon-screenshot" title="NPCs cleared at {{sig.ratscleared|date:'Y-m-d H:i'}}"></i> &nbsp
            {% endif %}
            {% if sig.sigtype.escalatable and sig.system.sysclass > 4 and sig.system.sysclass < 7 %}
                {% if sig.lastescalated < escalationThreshold or not sig.lastescalated %}
                    {% if sig.downtimes = 2 %}
                    <i class="icon-fire" onlick="MarkEscalated({{sig.pk}}, {{system.pk}});" title="Site will despawn at DT."></i>
                    {% else %}
                    <i class="icon-fullscreen" onclick="MarkEscalated({{sig.pk}}, {{system.pk}});" title="Clear escalation only."></i>
                    {% endif %}        
                {% else %}    
                    <i class="icon-ok" title="Site escalated today."></i>
                {% endif %}    
            {% endif %}
            </li>
        {% empty %}
            <li class="sysSigsEntry">No Signatures!</li>
        {% endfor%}
    </ul>
