{% for mapsys in map_systems %}
<div id="sys{{mapsys.pk}}Tip" class="systemTooltip tip">
<div class="mapSysInfo row">
   <div class="sysClassSpan span3">
       <h4 class="sysFriendlySpan">{{mapsys.friendlyname}}{% if mapsys.parent_wormhole.collapsed %} - COLLAPSED{% endif %}</h4>
        {% if mapsys.system.sysclass < 7 %}
        <div> 
            <strong>Class: {{mapsys.system.sysclass}}</strong>
        </div>
        <div>
            <strong>Effect: {{mapsys.system.get_spec.effect}}</strong>
        </div>
        <div>
            <strong>Probable Statics: <br />
                {{mapsys.system.get_spec.static1}} ({{mapsys.system.get_spec.static1.dest_string}}) &nbsp {% if mapsys.system.get_spec.static2 %}{{mapsys.system.get_spec.static2}} ({{mapsys.system.get_spec.static2.dest_string}}){% endif %}</strong>
        </div>
        {% endif %}
        <strong>
        {% if mapsys.system.sysclass = 7 %}
        High Sec ({{mapsys.system.security|floatformat}})
        {% endif %}
        {% if mapsys.system.sysclass = 8 %}
        Low Sec ({{mapsys.system.security|floatformat}})
        {% endif %}
        {% if mapsys.system.sysclass = 9 %}
        Null Sec ({{mapsys.system.security|floatformat}})
        {% endif %}
    </strong>
    {% if mapsys.system.get_spec.sov %}
        <br />
        <strong>Sov: {{mapsys.system.get_spec.sov}}</strong>
    {% endif %}
    {% if mapsys.system.sysclass > 6 %}
    <br />
    <strong>Region: {{mapsys.system.region}}</strong>
    <br />
    {% endif %}
    {% load humanize %}
    <span class="sysLastScanned label {% if scanwarning  %} label-important {% endif %}">
        Last Scanned: {{mapsys.system.lastscanned|naturaltime}}
    </span><br /> 
     <span class="statsText label label-inverse"> NPC: {{mapsys.system.npckills}} Ship: {{mapsys.system.shipkills}} Pod: {{mapsys.system.podkills}}{% if mapsys.system.sysclass > 6 %} Jumps: {{mapsys.system.get_spec.jumps}} {% endif %}</span> 
     <br /> 
     <p class="statusText label label-success">SIG: {{mapsys.system.signatures.count}} POS: {{mapsys.system.poses.count}} Pilots: {{mapsys.system.pilot_list|length}}</p><br />
    {% if mapsys.system.occupied %}
    <div class="occupiedTooltip label label-important"> Occupied: <br /> {{mapsys.system.occupied|safe}}</div>
    {% endif %}
    {% if mapsys.system.info %}
    <div class="infoTooltip label label-info"> Info: <br /> {{mapsys.system.info|safe}} </div>
    {% endif %}
</div>
{% if mapsys.system.pilot_list %}
    <div class="span3">
            <table>
                <tr>
                    <th>Pilot</th>
                    <th>Ship Type</th>
                </tr>
            {% for charid, p in mapsys.system.pilot_list.items %}
                {% if p.1 != "OOG Browser" %}
                <tr>
                    <td>{{p.1}}</td>
                    <td>{{p.3}}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{p.0}}</td>
                    <td>OOG Browser</td>
                </tr>
                {% endif%}
            {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endfor %}
