<div class="mapSysInfo row">
   <div class="sysClassSpan span3">
       <h4 class="sysFriendlySpan">{{mapsys.friendlyname}}{% if mapsys.parent_wormholes.get.collapsed %} - COLLAPSED{% endif %}</h4>
        {% if system.sysclass < 7 %}
        <div> 
            <strong>Class: {{system.sysclass}}</strong>
        </div>
        <div>
            <strong>Effect: {{system.effect}}</strong>
        </div>
        <div>
            <strong>Probable Statics: <br />
                {{system.static1}} ({{system.static1.dest_string}}) &nbsp {% if system.static2 %}{{system.static2}} ({{system.static2.dest_string}}){% endif %}</strong>
        </div>
        {% endif %}
        <strong>
        {% if system.sysclass = 7 %}
        High Sec ({{system.security|floatformat}})
        {% endif %}
        {% if system.sysclass = 8 %}
        Low Sec ({{system.security|floatformat}})
        {% endif %}
        {% if system.sysclass = 9 %}
        Null Sec ({{system.security|floatformat}})
        {% endif %}
    </strong>
    {% if system.sov %}
        <br />
        <strong>Sov: {{system.sov}}</strong>
    {% endif %}
    {% if system.sysclass > 6 %}
    <br />
    <strong>Region: {{system.region}}</strong>
    <br />
    {% endif %}
    {% load humanize %}
    <span class="sysLastScanned label {% if scanwarning  %} label-important {% endif %}">
        Last Scanned: {{system.lastscanned|naturaltime}}
    </span><br /> 
     <span class="statsText label label-inverse"> NPC: {{system.npckills}} Ship: {{system.shipkills}} Pod: {{system.podkills}}{% if system.sysclass > 6 %} Jumps: {{system.jumps}} {% endif %}</span> 
     <br /> 
    <p class="statusText label label-success">SIG: {{system.signatures.count}} POS: {{system.poses.count}} Pilots: {{system.active_pilots.count}}</p><br />
    {% if system.occupied %}
    <div class="occupiedTooltip label label-important"> Occupied: <br /> {{system.occupied|safe}}</div>
    {% endif %}
    {% if system.info %}
    <div class="infoTooltip label label-info"> Info: <br /> {{system.info|safe}} </div>
    {% endif %}
</div>
{% if system.active_pilots.all %}
    <div class="span3">
            <table>
                <tr>
                    <th>Pilot</th>
                    <th>Ship Type</th>
                </tr>
            {% for p in system.active_pilots.all %}
                {% if p.charactername != "OOG Browser" %}
                <tr>
                    <td>{{p.charactername}}</td>
                    <td>{{p.shiptype}}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{p.user.username}}</td>
                    <td>OOG Browser</td>
                </tr>
                {% endif%}
            {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
