<div class="mapSysInfo">
         <h4 class="sysFriendlySpan">{{mapsys.friendlyname}}</h4>
   <div class="sysClassSpan">
        {% if system.sysclass < 7 %}
        <div> 
            <strong>Class: {{system.sysclass}}</strong>
        </div>
        <div>
            <strong>Effect: {{system.effect}}</strong>
        </div>
        <div>
            <strong>Probable Statics: <br />
                {{system.static1}} ({{system.static1.dest_string}}) &nbsp {% if system.static2 %}{{system.static2}} ({{system.static2.dest_string}}){% endif %}</strong>
        </div>
        {% endif %}
        <strong>
        {% if system.sysclass = 7 %}
        High Sec ({{system.security|floatformat}})
        {% endif %}
        {% if system.sysclass = 8 %}
        Low Sec ({{system.security|floatformat}})
        {% endif %}
        {% if system.sysclass = 9 %}
        Null Sec ({{system.security|floatformat}})
        {% endif %}
    </strong>
    {% if system.sov %}
        <br />
        <strong>Sov: {{system.sov}}</strong>
    {% endif %}
    </div>
    <br />
    {% load humanize %}
    <span class="sysLastScanned label {% if scanwarning  %} label-warning {% endif %}">
        Last Scanned: {{system.lastscanned|naturaltime}}
    </span> 
    <br />
    <br />
    <p class="statusText label label-success">SIG: {{system.signatures.count}} POS: {{system.poses.count}} Pilots: {{system.active_pilots.count}}</p><br />
    {% if system.occupied %}
    <p class="occupiedTooltip label label-important"> Occupied: <br /> {{system.occupied|safe}}</p><br />
    {% endif %}
    {% if system.info %}
    <p class="infoTooltip label label-info"> Info: <br /> {{system.info|safe}} </p> <br />
    {% endif %}
    <p class="statsText label label-inverse"> NPC: {{system.npckills}} Ship: {{system.shipkills}} Pod: {{system.podkills}}{% if system.sysclass > 6 %} Jumps: {{system.jumps}} {% endif %}</p> 
</div>
