{% load humanize %}
<div id="sysPanelHeader" class="systemPanelHeader row">
    <div class="span6 page-header well well-large">
    <div class="dropdown">
        <h4> <i title="Edit Info" class="icon-pencil" onclick="GetEditSystemDialog({{mapsys.pk}});"></i> System Details: <a class="dropdown-toggle" data-toggle="dropdown"> {{system.name}}</a>
    <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="http://www.wormnav.com/index.php?locus={{system.name}}" target="_blank">Wormnav</a></li>
        <li><a href="http://www.staticmapper.com/index.php?system={{system.name}}" target="_blank">StaticMapper</a></li>
        <li><a href="http://evemaps.dotlan.net/system/{{system.name}}" target="_blank">Dotlan</a></li>
        {% if system.sysclass < 7 %}
        <li><a href="http://www.wormhol.es/{{system.name}}" target="_blank">Wormhol.es</a></li>
        {% endif %}

    </ul>
</h4>
</div>
    {% if mapsys.friendlyname %}
    <div class="mapSysInfo">
        <h5 class="friendlyName"> Friendly Name: <small>{{mapsys.friendlyname}}</small> </h5> 
    </div>
    {% endif %}
    <div class="sysClassSpan row">
        {% if system.sysclass < 7 %}
        <div class="span2"> 
            <strong>Class: {{system.sysclass}}</strong>
        </div>
        <div class="span2">
            <strong>Effect: {{system.effect}}</strong>
        </div>
        <div class="span2">
            <strong>Probable Statics: 
                <span title="Time: {{system.static1.lifetime}}H &nbsp Mass: {{system.static1.maxmass|intcomma}}kg &nbsp Jump Mass: {{system.static1.jumpmass|intcomma}}kg">
                    {{system.static1}} ({{system.static1.dest_string}})
            </span> 
            {% if system.static2 %}
            <span title="Time: {{system.static2.lifetime}}H &nbsp Mass: {{system.static2.maxmass|intcomma}}kg &nbsp Jump Mass: {{system.static2.jumpmass|intcomma}}">
                {{system.static2}} ({{system.static2.dest_string}})
            </span>
            {% endif %}</strong>
        </div>
        {% endif %}
        {% if system.sysclass = 7 %}
        High Sec
        {% endif %}
        {% if system.sysclass = 8 %}
        Low Sec
        {% endif %}
        {% if system.sysclass = 9 %}
        Null Sec
        {% endif %}
        {% if system.sov %}
        <br />
        Sov: {{system.sov}}
        {% endif %}
        {% if system.sysclass > 6 %}
        <ul class="inline"><li>Region: {{system.region}}</li><li>Constellation: {{system.constellation}}</li></ul>
        {% endif %}
    </div>
    <br />
<div>
    {% load humanize %}
    <ul class="visited inline"><li>First Visit: {{system.first_visited|naturaltime}}</li><li> Last Visit: {{system.last_visited|naturaltime}}</li></ul>
    <div class="row detailsLeft">
    {% if system.occupied %}
    <p class="occupiedText label label-important"><span class="occupiedTitle">Occupied:</span> <br /> {{system.occupied|safe}}</p><br />
    {% endif %}
    {% if system.info %}
    <p class="infoText label label-info"><span class="infoTitle">Info:</span> <br /> {{system.info|safe}} </p><br />
    {% endif %}
    {% if system.info or system.occupied %}
    <p class="sysInfoUpdated label label-success">Info Updated: {{system.updated|naturaltime}}</p><br />
    {% endif %}
</div>
</div>
<div class="row sysDetailsFooter">
        <div id="systemStatsPanel" class="systemStatsPanel {% if system.sysclass > 6 %} span2 {% else %} span6 {% endif %}">
         <h6>System Statistics <br /> (Last Hour) </h6>
         <ul class="systemStatsList {% if system.sysclass < 7%} inline {% endif %}">
                <li class="systemStatItem">NPC Kills: {{system.npckills}}</li>
                <li class="systemStatItem">Ship Kills: {{system.shipkills}}</li>
                <li class="systemStatItem">Pod Kills: {{system.podkills}}</li>
                {% if system.sysclass > 6 %}
                <li class="systemStatItem">Jumps: {{system.jumps}}</li>
                {% endif %}
            </ul>
        </div>
        {% if system.sysclass > 6 %}
        <div id="systemDestinationsDiv" class="span4">
        </div>
        {% endif %}
    </div>
     
</div>
  <div id="sigsPanel" class="sigsPanel page-header well well-small span8">
       <div id=systemSigsWell class="systemSigsWell">
            <h5>Signatures ({{system.signatures.count}} Total)</h5>
            <div id="sigAddPanel" class"sigAddPanel">
                <h6>Add Signature <i class="icon-download" onclick="GetBulkImport({{mapsys.pk}});"></i></h6>
                <div id="sys{{mapsys.pk}}SigAddForm">
                </div>
            </div>
            <div id="sys{{mapsys.pk}}Signatures" class="signatureListDiv">
            </div>
        </div>
    </div>
</div>
    <div class="row">
    <div id="activePlayerPanel" class="activePlayerPanel page-header well well-small span6 offset 1">
        <h5>Active Pilots ({{system.active_pilots.all.count}} total) </h5>
        <div id="activePlayerList" class="activePlayerList">
            <table class="activePilotsTable" cellpadding="10">
                <tr>
                    <th>Member</th>
                    <th>Character</th>
                    <th>Ship Type</th>
                    <th>Ship Name</th>
                </tr>
                {% for pilot in system.active_pilots.all %}
                <tr>
                    <td>{{pilot.user.username}}</td>
                    <td>{{pilot.charactername}}</td>
                    <td>{{pilot.shiptype}}</td>
                    <td>{{pilot.shipname}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

        {% load poslist %}    
    <div id="systemPosPanel" class="systemPosPanel page-header well well-small span6">
        <h5>Starbases ({{system.poses.all.count}} Total) <img height=32 width=32 title="Add POS" src='{{STATIC_URL}}images/plus.png' onclick="GetAddPOSDialog({{mapsys.system.pk}});" /></h5>
        <div id="systemPosWell" class="systemPosWell">
            <div id="sys{{system.pk}}POSDiv">
            </div>
        </div>
    </div>
    </div>
