	    <a href="#systemOptions" data-toggle='dropdown' class='dropdown-toggle'>Options <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
            {% if is_igb and mapsys.system.is_kspace %}
	            <li><a href="#systemOptions" onclick="CCPEVE.setDestination({{mapsys.system.pk}});">Set Destination</a></li>
	            <li><a href="#systemOptions" onclick="CCPEVE.addWaypoint({{mapsys.system.pk}});">Add Waypoint</a></li>
	            <li class="divider"></li>            
            {% endif %}
			{% if can_edit %}
				<li><a href="#systemOptions" onclick="GetAddSystemDialog({{mapsys.pk}});">Add System</a></li>
	            {% if isinterest %}
	            	<li><a href="#systemOptions" onclick="RemoveInterest({{mapsys.pk}});" >Remove Interest </a></li>
	            {% else %}
	            	<li><a href="#systemOptions" onclick="SetInterest({{mapsys.pk}});" >Set Interest</a></li>
	            {% endif %}
	            {% if mapsys.system.importance != 1 %}
	            	<li><a href="#systemOptions" onclick="SetImportance({{mapsys.pk}}, {{mapsys.system.pk}}, 1);">Set Danger</a></li>
	            {% else %}
	            	<li><a href="#systemOptions" onclick="SetImportance({{mapsys.pk}}, {{mapsys.system.pk}}, 0);">Unset Danger</a></li>
	            {% endif %}
	            	<li><a href="#systemOptions" onclick="MarkScanned({{mapsys.pk}}, false, {{mapsys.system.pk}});">Mark Scanned</a></li>
		        {% if mapsys.parent_wormhole.collapsed and mapsys.parent_wormhole %}
		        	<li><a href="#systemOptions" onclick="ResurrectSystem({{mapsys.pk}});">Resurrect System</a></li>
		        {% elif mapsys.parent_wormhole %}
		        	<li><a href="#systemOptions" onclick="CollapseSystem({{mapsys.pk}});">Collapse System</a></li>
		        {% endif %}
    		{% endif %}
    		{% if not is_igb %}
			    <li><a href="#systemOptions" onclick="AssertLocation({{mapsys.pk}});">I'm Here</a></li>
		    {% endif %}
		    <li class="divider"></li>
		    {% if can_edit and mapsys.has_siblings %}
			    <li><a href="#systemOptions" onclick="MoveSystem({{mapsys.pk}}, 'up');">Move Up</a></li>
	            <li><a href="#systemOptions" onclick="MoveSystem({{mapsys.pk}}, 'down');">Move Down</a></li>
	            <li class="divider"></li>
	        {% endif %}
	        {% if perms.SiteTracker.can_sitetracker and not stfleets|length %}
    			<li><a href="#systemOptions" onclick="STCreateFleet({{mapsys.system.pk}});">Start ST Fleet</a></li>
    			<li class="divider"></li>
    		{% endif %}
            <li><a href="https://eveeye.com/?system={{system.name}}" target="_blank">EveEye</a></li>
	        <li><a href="http://www.staticmapper.com/index.php?system={{system.name}}" target="_blank">StaticMapper</a></li>
	        {% if system.is_kspace < 7 %}
	        	<li><a href="http://evemaps.dotlan.net/system/{{system.name}}" target="_blank">Dotlan</a></li>
	        {% else %}
	        	<li><a href="http://evemaps.dotlan.net/map/{{system.region.name.split|join:"_"}}/{{system.name.split|join:"_"}}" target="_blank">Dotlan</a></li>
	        {% endif %}
	        	<li><a href="http://zkillboard.com/system/{{system.pk}}" target="_blank">zKillboard</a></li>
	        {% if system.is_wspace < 7 %}
	        	<li><a href="http://wh.pasta.gg/{{system.name}}" target="_blank">Wormhol.es</a></li>
	        {% endif %}
	        {% if system.id == 31000005 %}
	        	<li><a href="http://eve-scout.com/" target="_blank">EveScout</a></li>
	        {% endif %}
        </ul>