{% load humanize %}
<ul class="nav nav nav-pills" id="sysInfoTab">
    <li class="active"><a href="#sysDetails" data-toggle='tab'>{{ mapsys.system.name }}</a></li>
    <li><a href="#sigsPanel" data-toggle='tab'>Signatures ({{mapsys.system.signatures.count}})</a></li>
    <li><a href="#activePlayerPanel" data-toggle='tab'>Pilots ({{locations|length}})</a></li>
    <li><a href="#systemPosPanel" data-toggle='tab'>Starbases ({{mapsys.system.poses.count}})</a></li>
    <li id="sysMenu" class="dropdown">{% include "system_menu.html" %}</li>
    <li class="dropdown"><a href="#deleteSystem" data-toggle='dropdown' class='dropdown-toggle'>Delete <b class="caret"></b></a>
    	<ul id="deleteDropdown" class="dropdown-menu" role="menu">
             <li><a href="#deleteSystem" onclick="DeleteSystem({{mapsys.pk}});")>I'm sure!</a></li>
             <li><a href="#deleteSystem" class="dropdown-toggle" data-toggle="dropdown")>Just Kidding!</a></li>
         </ul>
    </li>
    {% if mapsys.map.truncate_allowed %}
	    <li class="dropdown"><a href="#truncateSystem" data-toggle='dropdown' class='dropdown-toggle'>Truncate <b class="caret"></b></a>
	    	<ul id="truncateDropdown" class="dropdown-menu" role="menu">
	        	<li><a href="#truncateSystem" onclick="PromoteSystem({{mapsys.pk}});")>I'm sure!</a></li>
	            <li><a href="#truncateSystem" class="dropdown-toggle" data-toggle="dropdown")>Just Kidding!</a></li>
	     	</ul>
	     </li>
	{% endif %}
</ul>
<div id="sysTabHolder" class="row tab-content col-md-12">
	<div id="sysDetails" class="tab-pane active">
		<div class="panel panel-default">
			<div id="sysPanelHeader" class="panel-heading center_text">
			    <h4>{% if can_edit %}<i title="Edit Info" class="glyphicon glyphicon-pencil" onclick="GetEditSystemDialog({{mapsys.pk}});"></i>{% endif %} System Details: {{mapsys.system.name}} {% if mapsys.friendlyname %}<span class="friendlyname">({{ mapsys.friendlyname }})</span>{% endif %} &nbsp;
			    	{% if system.is_kspace and is_igb %}
			        	<button class='btn btn-xs btn-info' onclick="CCPEVE.setDestination({{system.pk}});">Set destination</button>
			        {% endif %}
			    </h4>
			</div>
			<div id="sysPanelBody" class="panel-body">
			    <div class="sysClassSpan" class="row">
			        {% if system.is_wspace %}
			        <div class="col-md-3">
                        <label>Class:</label> <span id="sysClass">{{system.sysclass}}</span>
			        </div>
			        <div class="col-md-4">
                        <label>Effect:</label> <span id="sysEffect">{{system.effect}}</span>
			        </div>
			        <div class="col-md-5">
                        <label>Probable Statics:</label>
                        <span id="sysStatics">
			                {% if system.statics.all.count == 0 %}
                                <span>Unknown</span>
			                {% else %}
                                {% for hole in system.statics.all %}
                                    <span title="Time: {{hole.lifetime}}H &nbsp Mass: {{hole.maxmass|intcomma}}kg &nbsp Jump Mass: {{hole.jumpmass|intcomma}}kg">
                                    {{hole.name}} ({{hole.dest_string}})</span>
                                {% endfor %}
                            {% endif %}
                        </span>
			        </div>
                    {% endif %}

                    {% if system.is_kspace %}
                    <div id="kspacedetails">
                        <div class="col-md-3">
                            <label>Sec:</label> <span id="sysSec" class="{% if system.sysclass == 7 %}secHIGH{% endif %}{% if system.sysclass == 8 %}secLOW{% endif %}{% if system.sysclass == 9 %}secNULL{% endif %}">
                                                {% if system.sysclass == 7 %}
                                                High Sec
                                                {% endif %}
                                                {% if system.sysclass == 8 %}
                                                Low Sec
                                                {% endif %}
                                                {% if system.sysclass == 9 %}
                                                Null Sec
                                                {% endif %}
                                                </span>
                        </div>
                        {% if system.sov %}
                        <div class="col-md-4">
                            <label>Sov:</label> <span id="sysSov">{{system.sov}}</span> 
                        </div>
                        {% endif %}
                        <div class="col-md-5">
                            <label>Const/Region:</label> <span id="sysRegion">{{system.constellation}} / {{system.region}}</span> 
                        </div>
                    </div>
			        {% endif %}
			    </div>
			    <br />
			</div>
		    <div class="row">
		    	<div class="col-md-12">
			    {% load humanize %}
                <div class="visited center_text">First Visit: <em>{{system.first_visited|naturaltime}}</em> &bull; Last Visit: <em>{{system.last_visited|naturaltime}}</em></div>
                    {% if system.occupied or system.poses.all %}
                        <div class="detailsLeft">
				    	 <div class="occupiedDiv bg-danger panel-textbox">
                            <label>Occupied:</label> <span id="sysOccupied">{{system.occupied|linebreaks}}</span>
                            <br />
                            <label>Towers:</label>
				        	<ul>
					            {% for pos in system.poses.all %}
					            <li>P:{{pos.planet}} &nbsp;M: {{pos.moon}} - {{pos.towertype.name}} - {{pos.corporation.name}} -
					                {% if pos.status == 0 %}
						            <span class="label label-info">Status: UNANCHORED</span>
						           	{% endif %}
						            {% if pos.status == 1 %}
						            <span class="label label-info">Status: ANCHORED</span>
						            {% endif %}
						            {% if pos.status == 2 %}
						            <span class="label label-info">Status: ONLINING</span>
						            {% endif %}
						            {% if pos.status == 3 %}
						            <span class="label label-important">Status: REINFORCED  Comes Out: {{pos.rftime|date:"Y-m-d H:i"}}</span>
						            {% endif %}
						            {% if pos.status == 4 %}
						            <span class="label label-success">Status: ONLINE</span>
						            {% endif %}
					            </li>
					            {% empty %}
					            <li>No Towers</li>
					            {% endfor %}
					        </ul>
				     	 </div>
                        </div>
                    {% endif %}
				    {% if system.info %}
				    	<p class="infoText bg-primary panel-textbox"><span class="infoTitle">Info:</span> <br /> {{system.info|linebreaksbr}} </p><br />
				    {% endif %}
				    {% if system.info or system.occupied %}
				    	<p class="sysInfoUpdated bg-success panel-textbox">Info Updated: {{system.updated|naturaltime}}</p><br />
				    {% endif %}
				{% if system.is_kspace %}
					<div class="sysDetailsFooter col-md-12">
				    	<div id="systemStatsPanel" class="systemStatsPanel center_text" style="margin-left: -55px;">
				            <ul class="systemStatsList">
				                <li class="systemStatItem">NPC Kills: {{system.npckills}}</li>
				                <li class="systemStatItem">Ship Kills: {{system.shipkills}}</li>
				                <li class="systemStatItem">Pod Kills: {{system.podkills}}</li>
				                <li class="systemStatItem">Jumps: {{system.jumps}}</li>
				            </ul>
				        </div>
				    </div>
		        	<div id="systemDestinationsDiv" class="col-md-12" style="padding-top: 20px">
		        	</div>
	        	{% endif %}
		    </div>
		</div>
	</div>
</div>
<div id="sigsPanel" class="sigsPanel tab-pane">
	<div id="sigAddPanel" class="sigAddPanel panel panel-default">
		<div class="panel-heading">
            <h4 class="center_text">{% if can_edit %}<i title="Edit Info" class="glyphicon glyphicon-pencil" onclick="GetEditSystemDialog({{mapsys.pk}});"></i>{% endif %} Signatures: {{mapsys.system.name}} {% if mapsys.friendlyname %}<span class="friendlyname">({{ mapsys.friendlyname }})</span>{% endif %} </h4>
		</div>
		<div class="panel-body">
    		<div style="margin-bottom: 10px; text-align: center;">
    	    	{% if can_edit %}
	            	<form id="bulkSigForm" class="bulkSigForm" method="post" action="system/{{mapsys.pk}}/signatures/bulkadd/">
	            		<textarea id="pasteField" name="paste"></textarea>
	                	<button id="btnImport" class="btn btn-sm btn-primary" style="margin-top: -11px; margin-bottom: 9px;"><i class="glyphicon glyphicon-download"></i> Bulk Import</button>
	            	</form>
	            		<button id="btnPurgeSigs" class="btn btn-sm btn-danger" style="margin-top: -11px; margin-bottom: 9px;"><i class="glyphicon glyphicon-remove-circle"></i> Purge Sigs</button>
	            		<button id="btnReallyPurgeSigs" class="btn btn-sm btn-warning" style="display: none; margin-top: -11px; margin-bottom: 9px;"  onclick="PurgeSignatures({{mapsys.pk}});"><i class="glyphicon glyphicon-remove-circle"></i> Really Purge?</button>
	            	<script type="text/javascript">
	        	    	$('#btnPurgeSigs').click(function() {
	            	    	$('#btnReallyPurgeSigs').show();
	                    	$('#btnPurgeSigs').hide();
	                	});
	                </script>
            	{% endif %}
        	</div>
        	<div id="sys{{mapsys.pk}}SigAddForm">
        	</div>
    		<div id="sys{{mapsys.pk}}Signatures" class="signatureListDiv">
    		</div>
    	</div>
    </div>
</div>
<div id="activePlayerPanel" class="activePlayerPanel tab-pane">
    <div id="activePlayerList" class="activePlayerList panel panel-default">
    	<div class="panel-heading">
	    	<h4>{% if can_edit %}<i title="Edit Info" class="glyphicon glyphicon-pencil" onclick="GetEditSystemDialog({{mapsys.pk}});"></i>{% endif %} Active Pilots: {{system.name}} {% if mapsys.friendlyname %}<span class="friendlyname">({{ mapsys.friendlyname }})</span>{% endif %} </h4>
	    </div>
	    <div class="panel-body">
	        <table class="table table-condensed table-hover">
	            <tr>
	                <th>Member</th>
	                <th>Character</th>
	                <th>Ship Type</th>
	                <th>Ship Name</th>
	            </tr>
	            {% for charid,location in locations.items %}
	                <tr>
	                    <td style="text-align: left">{{location.0}}</td>
	                    <td style="text-align: left">{{location.1}}</td>
	                    <td style="text-align: left">{{location.3}}</td>
	                    <td style="text-align: left">{{location.2}}</td>
	                </tr>
	            {% endfor %}
	        </table>
        </div>
    </div>
</div>
{% load poslist %}
<div id="systemPosPanel" class="systemPosPanel tab-pane">
    <div style="text-align: center; margin-bottom: 10px;" class="panel panel-default">
    	<div class="panel-heading">
            <h4>{% if can_edit %}<i title="Edit Info" class="glyphicon glyphicon-pencil" onclick="GetEditSystemDialog({{mapsys.pk}});"></i>{% endif %} Starbases: {{system.name}} {% if mapsys.friendlyname %}<span class="friendlyname">({{ mapsys.friendlyname }})</span>{% endif %} </h4>
        </div>
        <div class="panel-body">
            {% if can_edit %}
            	<button class="btn btn-primary" onclick="GetAddPOSDialog({{mapsys.pk}});"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add POS</button>
            {% endif %}
        	<div id="systemPosWell" class="systemPosWell">
            	<div id="sys{{mapsys.pk}}POSDiv">
            	</div>
        	</div>
        </div>
    </div>
</div>
