{% load humanize %}
{% for wh in wormholes %}
<div id="wh{{wh.pk}}Tip" class="wormholeTooltip tip">
<div class="wormholeInfo">
    {% load humanize %}
        <span class="whUpdateTime label label-info">Updated: {{wh.updated|naturaltime}}</span>
   <div class="row">
        <div class="wormholeSideDiv span2">
            <h4>{{wh.top.system.name}}</h4>
            <span class="wormholeType">Type: {{wh.top_type.name}} ({{wh.top_type.dest_string}})</span><br />
            <span class="wormholeBubbled {% if wh.top_bubbled %}text-error{% endif %}">
                Bubbled: {{wh.top_bubbled|yesno:"Yes,No"}}
            </span>
        </div>
        <div class="wormholeSideDiv span2">
            <h4>{{wh.bottom.system.name}}</h4>
            <span class="wormholeType">Type: {{wh.bottom_type.name}} ({{wh.bottom_type.dest_string}})</span><br />
            <span class="wormholeType {% if wh.bottom_bubbled %}text-error{% endif %}">
                Bubbled: {{wh.bottom_bubbled|yesno:"Yes,No"}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="wormholeOverallInfo span2">
            {% if wh.mass_status = 0 %}
            <span class="massStatus label label-success">Mass: Normal
            {% elif wh.mass_status = 1 %}
            <span class="massStatus label label-warning">Mass: First Shrink
            {% else %}
            <span class="massStatus label label-important">Mass: Critical
            {% endif %}
            </span>
        </div>
        <div class="wormholeOverallInfo span2">
            {% if wh.time_status = 0 %}
            <span class="timeStatus label label-success">Time: Normal
            {% else %}
            <span class="timeStatus label label-important">Time: End of Life at: <br /> {{wh.eol_time|date:'H:i d M Y'}}
            {% endif %}
            </span>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="wormholeOverallInfo span4">
        {% if wh.top_type.maxmass > wh.bottom_type.maxmass %}
            <strong>Max Mass: {{wh.top_type.maxmass|intcomma}} kg </strong> <br />
            <strong>Jump Mass: {{wh.top_type.jumpmass|intcomma}} kg </strong>
        {% else %}
            <strong>Max Mass: {{wh.bottom_type.maxmass|intcomma}} kg </strong><br />
            <strong>Jump Mass: {{wh.bottom_type.jumpmass|intcomma}} kg </strong>
        {% endif %}
        </div>
    </div>
</div>
</div>
{% endfor %}
