*.swp
*.pyc
*.bak
.vagrant
.idea
.DS_Store
bin
lib
include
local
build
djcelery
celerybeat-schedule
local_settings.py
pip-selfcheck.json
doc/build/*
pip-selfcheck.json

.idea
*.sublime-project
*.sublime-workspace
