{% extends "base.html" %}
{% block title %} Eve W-Space: Home {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css" />
{% endblock %}
{% block scripts %}
<script src="{{STATIC_URL}}js/jquery.collapse.js"></script>
<script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script>
	$(function() {
	    $(".homecollapse").collapse();
	    });
</script>
{% endblock %}
{% block contentheader %} <h2> Welcome, {{user.username}}!</h2> {% endblock %}
{% block content%} 
<div id="homeRow1" class="row">
<div class="span6 homecollapse">
	{% load posstatus %}
	<h3 class="active">My POSes:</h3>
	<div>
		{% myposstatus user %}
	</div>
	<h3>Corp POSes:</h3>
	<div>
		{% corpposstatus user %}
	</div>
</div>
<div class="span6 homecollapse">
	{% load apicalendar %}
	<h3>Calendar:</h3>
	<div>
		{% upcomingevents user %}
	</div>
   </div>
</div>
<div id="homeRow2" class="row">
    <div class="span6 homecollapse">
        <h3>Claims Status</h3>
        <div>
        </div>
    </div>
    <div class="span6 homecollapse">
        <h3>Vital Statistics</h3>
    <div>
        <b>Time since last Legion loss by James:</b> [Placeholder]
 
    </div>
</div>
{%endblock%}
