{% extends 'base.html' %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/settings.css" />
{% endblock %}
{% block contentheader %}
    <ul class="nav nav-tabs">
        <li><a href="#profile" data-toggle="tab">My Settings</a></li>
        {% load coretags %}
        {% admin_entries %}
    </ul>
{% endblock contentheader %}
{% block content %}
<div class="tab-content">
    <div id="profile" class="tab-pane active">
        <h1>User Profile:</h1>
        <p class="label label-success">This section is under construction. Please check back later. </p>
    </div>
    {% admin_panels %}
</div>
{% endblock %}

