{% extends 'base.html' %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/settings.css" />
{% endblock %}
{% block contentheader %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">My Settings</a></li>
        {% load coretags %}
        {% admin_entries %}
    </ul>
{% endblock contentheader %}
{% block content %}
<div class="tab-content">
    <div id="profile" class="tab-pane active">
        {% profile_sections %}
    </div>
    {% admin_panels %}
</div>
{% endblock %}

