<div title="Add Starbase" id="addPOSDialog" class="addPOSDialog">
    <div class="modal-header">
        <div class="row">
            <div class="span6">
                <h4>Add POS: {{system.name}}</h4>
            </div>
            <div class="span3 offset2">
                <a href="#" class="btn" onclick="$('#modalHolder').modal('hide');">Cancel</a>
                <a href="#" class="btn btn-info" id="btnAddPOS">Add POS</a>
            </div>
        </div>
         <ul class="nav nav-pills" style="margin-bottom:0">
            <li class="active"><a id="auto" href="#" data-toggle="tab">Auto</a></li>
            <li><a href="#" data-toggle="tab" id="manual">Manual</a></li>
          </ul>
    </div>
    <div class="modal-body">
        <div class="alert alert-error" id="pos_message" style="display: none;">
            <p id="pos_error"></p>
        </div>
      <form id="addPOSForm" action="/pos/{{system.pk}}/add" method="POST">
        {% csrf_token %}
        <input id="auto-field" name="auto" value="1" type="hidden">
        Full Corp Name: <input id="corpBox" class="corpAuto" name="corp" type="text" > <br />
        <div class="manual-fields">
          <span class="label label-warning" id="digiterror">Please enter digits only for planet and moon. </span><br /><br />
          Planet: <input name="planet" class="input-mini" type="text"> 
          Moon: <input name="moon" class="input-mini" type="text"> <br />
          Tower Name: <input name="name" type="text"> <br />
          Tower Type: <input id="towertype" class="towerAuto" name="tower" type="text"> <br />
        </div>
        Status: <br /><input type="radio" onclick="Test(this);" name="status" value="0">&nbsp; Unanchored
        <br /><input type="radio" name="status" onclick="Test(this);" value="1">&nbsp; Anchored
        <br /><input type="radio" name="status" onclick="Test(this);" value="2">&nbsp; Onlining
        <br /><input type="radio" name="status" onclick="Test(this);" value="3"> &nbsp; Reinforced
        <br /><input type="radio" name="status" value="4" onclick="Test(this);" checked="checked"> &nbsp Online
        <br />
        <div id="rftime" class="rftimerdiv" style="display: none">
            RF Timer:<br /> D: <input name="rfdays" class="input-mini" type="text">
            H: <input name="rfhours" class="input-mini" type="text">
            M: <input name="rfminutes" class="input-mini" type="text">
        </div>
        <br />Fitting: <br />
        <p id="auto-help">Paste a 360° dscan (irrelevant range) with Active Overview Settings unticked, from ongrid with the POS</p>
        <p id="manual-help">Paste a dscan showing POS modules from just this POS<p>
        <textarea cols=40 rows=10 name="fitting"></textarea><br />
        <div class="manual-fields">
          Parse as D-Scan Paste: <input type="checkbox" name="dscan" value="1"> <br />
        </div>
      </form>
  </div>
</div>
    <div class="modal-footer">
    </div>
    <script type="text/javascript">
    function Test(rad){
        var rads=document.getElementsByName(rad.name);
        document.getElementById('rftime').style.display=(rads[3].checked)?'block':'none';
    }
    $('#addPOSForm').submit(function(e){
                e.preventDefault();
                AddPOS({{system.pk}});
                });
    $('#btnAddPOS').click(function(e){
                AddPOS({{system.pk}});
                });
    $('#auto').click(function(e){
        $('.manual-fields, #manual-help').hide();
        $('#auto-help').show();
        $('#auto-field').val('1');
    });
    $('#manual').click(function(e){
        $('.manual-fields, #manual-help').show();
        $('#auto-help').hide();
        $('#auto-field').val('0');
    });
    </script>
    <style>.manual-fields, #manual-help {display: none;}</style>
