<li id="pos{{pos.pk}}" class="posListItem">
{% if perms.POS.change_pos %}
<i class="icon-pencil" onclick="GetEditPOSDialog({{pos.pk}}, {{system.pk}});" title="Edit POS"></i>
{% endif %}
{% if perms.POS.delete_pos %}
<i class="icon-ban-circle" onclick="DeletePOS({{pos.pk}}, {{system.pk}});" title="Delete POS"></i>
{% endif %}

<div class="poslist_header" data-toggle="collapse" data-target="#pos{{pos.pk}}Details" style="position:relative">
        <i class="icon-chevron-down" style="cursor: pointer;" title="Click to expand / collapse"></i> <img height="48" width="48" src="http://image.eveonline.com/Render/{{pos.towertype.pk}}_128.png"></img>
        <span class="planetlabel">Planet: </span>
        <span class="planetno"><strong>{{pos.planet}}</strong></span>
		<span class="moonlabel">Moon: </span>
        <span class="moonno"><strong>{{pos.moon}}<strong></span>&nbsp
        <span class="postype"><strong>{{pos.towertype.name}}</strong></span>&nbsp &nbsp
        <br />
        <div class="posSummary">
            {% if pos.status == 0 %}
                <span class="label label-info">Status: UNANCHORED</span>
            {% endif %}
            {% if pos.status == 1 %}
                <span class="label label-info">Status: ANCHORED</span>
            {% endif %}
            {% if pos.status == 2 %}
                <span class="label label-info">Status: ONLINING</span>
            {% endif %}
            {% if pos.status == 3 %}
                <span class="label label-important">Status: REINFORCED  Comes Out: {{pos.rftime|date:"Y-m-d H:i"}}</span>
            {% endif %}
            {% if pos.status == 4 %}
                <span class="label label-success">Status: ONLINE</span>
            {% endif %}
                <br />
            {% if pos.guns %}
                <img height="32" width="32" title="GUNS" src="/static/images/posguns.png" /> {{pos.guns}}
            {% endif %}
            {% if pos.ewar %}
                <img height="32" width="32" title="EWAR" src="/static/images/posewar.png" /> {{pos.ewar}}
            {% endif %}
            {% if pos.sma %}
                <img height="32" width="32" title="SMA" src="/static/images/possma.png" /> {{pos.sma}}
            {% endif %}
            {% if pos.hardener %}
                <img height="32" width="32" title="HARDENERS" src="/static/images/poshard.png" /> {{pos.hardener}}
            {% endif %}
            <br />
            Updated: {{pos.updated|date:"Y-m-d H:i"}}
            {% if pos.warpin_notice %}
                <br />
                <span title="Warp-in Notice" class="label label-warning">{{pos.warpin_notice}}</span>
            {% endif %}
        </div>
	</div>
    <div id="pos{{pos.pk}}Details" class="poslist_main collapse">
        <div class"poslist_info">
            <h5>Owner: </h5>
            <img src="http://image.eveonline.com/Corporation/{{pos.corporation.id}}_32.png" ></img> &nbsp
            {% if pos.corporation.alliance %}
            <img src="http://image.eveonline.com/Alliance/{{pos.corporation.alliance.id}}_32.png"></img>
            {% endif %}
            <br />
            <span class="poslist_corplabel">Corp: </span>
			<a href="http://www.zkillboard.com/corporation/{{pos.corporation.id}}/" target="_blank" class="killboard_link">{{pos.corporation.name}}</a>
            <span class="poslist_ticker">[{{pos.corporation.ticker}}]</span><br />
            {% if pos.corporation.alliance %}
            <span class="poslist_alliancelable">Alliance: </span>
            <a href="http://www.zkillboard.com/alliance/{{pos.corporation.alliance.id}}/" target="_blank" class="killboard_link">{{pos.corporation.alliance.name}}</a>
            <span class="poslist_ticker">[{{pos.corporation.alliance.shortname}}]</span><br />
            {% endif %}
            <span class="poslist_posname">Name: {{pos.posname}}</span> <br />
            <h5>Full Fitting: </h5>
            <span class="poslist_fitting">{{pos.fitting|safe}}</span> <br />
		</div>
	</div>
</li>

