<li id="pos{{pos.pos.pk}}" class="posstatusitem">
	<h3 class="posstatus_header" style="position:relative">
		{{pos.pos.system}}
		{{pos.pos.planet}}
		 -  
		{{pos.pos.moon}}
		{{pos.pos.name}}
	</h3>
		<div class="posstatus_info">
		{% load coretags %}
				<span class="posstatus_towertypelabel">Type: </span>
				<span class="posstatus_towertype">{{pos.pos.towertype.name}}</span><br />
			<h5><span class="posstatus_forcefieldlabel">Forcefield Settings: </span></h5>
			{% if pos.status.generalSettings.allowAllianceMembers = 1 %}
				<span class="posstatus_permission">Alliance Allowed</span><br />
			{% endif %}
			{% if pos.status.generalSettings.allowCorporationMembers = 1 %}
				<span class="posstatus_permission">Corporation Allowed</span><br />
			{% endif %}
			<h5>	<span class="posstatus_fuellabel">Fuel: </span></h5>
			{% for f in pos.status.fuel %}
				<span class="posstatus_fuel">{% typename f.typeID %} : {{f.quantity}}</span><br />
			{% endfor %}
		</div>
</li>
