<div class="modal-header">
    <h3>Create Group</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal form-group" id="createGroupForm" action="/account/admin/group/new/" method="POST">
        <div class="control-group">
        	<div class="col-md-6 input-margin">
            	<label class="control-label" for="groupnameInput">Group Name:</label>
            </div>
            <div class="col-md-6 input-margin">
                <input type="text" class="form-control input-sm" name="group_name" id="groupnameInput">
            </div>
            <div class="col-md-6 input-margin">
            	<label class="control-label" for="regcodeInput">Registration Code</label>
            	<h6 style="margin-top: -5px">Leave blank to disable registration</h6>
            </div>
            <div class="col-md-6 input-margin">
                <input type="text" class="form-control input-sm" name="regcode" id="regcodeInput">
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#createGroupForm').submit(function(e){
                e.preventDefault();
                CreateGroup();
                return false;
                });
    </script>
</div>
<div class='modal-footer'>
    <button class="btn btn-info btn-sm" onclick="CreateGroup();">Create</button>
    <button class="btn btn-danger btn-sm" onclick="$('#modalHolder').parent().hide(); return false;">Close</button>
</div>
