<div class='modal-header'>
    <h3>Create User</h3>
</div>
<div class='modal-body'>
    <div style='display: none;' id='createUserError'></div>
    <form class='form-horizontal form-group' id='createUserForm' action="/account/admin/user/new/" method="POST">
        <div class='row'>
        	<div class="col-md-4 input-margin">
            	<label class='control-label' for='usernameInput'>Username:</label>
            </div>
            <div class="col-md-8 input-margin">
                <input class='form-control input-sm' id='usernameInput' type='text' name='username'>
            </div>
            <div class="col-md-4 input-margin">
            	<label class='control-label' for='emailInput'>Email (Optional):</label>
            </div>
            <div class='col-md-8 input-margin'>
                <input class='form-control input-sm' id='emailInput' type='text' name='email'>
            </div>
			<div class="col-md-4 input-margin">
            	<label class="control-label" for="emailPassword">Email New Password</label>
            </div>
            <div class="col-md-8 input-margin">
            	<input class='form-control' style="text-align: left" type="checkbox" id="emailPassword" name="email_password">
            </div>
            <div class="col-md-4 input-margin">
            	<label class='control-label' for='newPassword'>Password:</label>
            </div>
            <div class="col-md-8 input-margin">
                <input class='form-control input-sm' id='newPassword' type='password' name='password1'>
            </div>
            <div class="col-md-4 input-margin">
            	<label class='control-label' for='passwordConfirm'>Verify Password:</label>
            </div>
            <div class="col-md-8 input-margin">
                <input class='form-control input-sm' id='passwordConfirm' type='password' name='password2'>
                <br />
                <span id='randomPasswordSpan' class='label label-info' style='display: none;'></span>
                <br />
                <button class='btn btn-success btn-sm' id='randomPassword'>Randomize Password</button>
            </div>
        </div>
    </form>
    <script type='text/javascript'>
        $('#createUserForm').submit(function(e){
                e.preventDefault();
                CreateUser();
                return false;
                });
        $('#randomPassword').click(function(e){
                e.preventDefault();
                SetRandomPassword();
                return false;
                });
    </script>
</div>
<div class='modal-footer'>
    <button class='btn btn-info' onclick='CreateUser();'>Add User</button>
    <button class='btn' onclick='$("#modalHolder").modal("hide");'>Cancel</button>
</div>
