<div class='modal-header'>
    <h3>Create User</h3>
</div>
<div class='modal-body'>
    <div style='display: none;' id='createUserError' class=''></div>
    <h4>User Details</h4>
    <form class='form-horizontal' id='createUserForm' action="/account/admin/user/new/" method="POST">
        <div class='control-group'>
            <label class='control-label' for='usernameInput'>Username:</label>
            <div class='controls'>
                <input id='usernameInput' type='text' name='username'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='emailInput'>Email (Optional):</label>
            <div class='controls'>
                <input id='emailInput' type='text' name='email'>
                <span style="margin-top: 5px;" class='label label-info'>If provided, the initial password will be emailed.</span>
            </div>
        </div>
        <br />
        <div class='control-group'>
            <label class='control-label' for='newPassword'>Password:</label>
            <div class='controls'>
                <input id='newPassword' type='password' name='password1'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='passwordConfirm'>Verify Password:</label>
            <div class='controls'>
                <input id='passwordConfirm' type='password' name='password2'>
                <br />
                <span id='randomPasswordSpan' class='label label-info' style='display: none;'></span>
                <br />
                <button class='btn btn-success' id='randomPassword'>Randomize Password</button>
            </div>
        </div>
    </form>
    <script type='text/javascript'>
        $('#createUserForm').submit(function(e){
                e.preventDefault();
                CreateUser();
                return false;
                });
        $('#randomPassword').click(function(e){
                e.preventDefault();
                SetRandomPassword();
                return false;
                });
    </script>
</div>
<div class='modal-footer'>
    <button class='btn btn-info' onclick='CreateUser();'>Add User</button>
    <button class='btn' onclick='$("#modalHolder").modal("hide");'>Cancel</button>
</div>
