<h3>Groups</h3>
<script type="text/javascript" src="{{STATIC_URL}}js/group_admin.js"></script>
<form id="groupFilterForm" class="form-search form-group" action="/account/admin/group/list/1/" method="POST">
	<div class="row" style="width: 300px">
		<div class="col-md-9 input-margin">
    		<input type="text" name="filter" class="input-sm form-control search-query">
    	</div>
    	<div class="col-md-3 input-margin">
    		<button type="submit" class="btn btn-primary btn-sm">Filter</button>
    	</div>
    </div>
    <div class="row">
	    <div class="col-md-12 input-margin">
	    	Show System Groups: <input type="checkbox" name="system_groups">
    	</div>
    	<div class="col-md-12 input-margin">
    		<button class="btn btn-success btn-sm input-margin" onclick="GetCreateGroupDialog()">Create Group <i class="icon-plus"></i></button>
    	</div>
    </div>
</form>
<script type="text/javascript">
    $('#groupFilterForm').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/account/admin/group/list/1/",
                    type: "POST",
                    data: $('#groupFilterForm').serialize(),
                    success: function(data) {
                        $('#groupTableHolder').html(data);
                    }
                    });
            });
</script>

<div id="groupTableHolder">
</div>
