<h3>Users</h3>
<script type="text/javascript" src="{{STATIC_URL}}js/user_admin.js"></script>
<form id="usernameFilterForm" class="form-group form-search" action="/account/admin/user/list/1" method="POST">
	<div class="row" style="width: 300px">
		<div class="col-md-9 input-margin">
    		<input type="text" name="filter" class="input-sm form-control search-query">
    	</div>
    	<div class="col-md-3 input-margin">
    		<button type="submit" class="btn btn-primary btn-sm">Search by Username</button>
        </div>
        <div class="col-md-12 input-margin">
        	<button class='btn btn-success btn-sm' onclick="GetCreateUserDialog();">Create User <i class='glyphicon glyphicon-plus'></i></button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('#usernameFilterForm').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/account/admin/user/list/1/",
                    type: "POST",
                    data: $('#usernameFilterForm').serialize(),
                    success: function(data) {
                        $('#userTableHolder').html(data);
                    }
                    });
                return false;
            });
</script>
<div id="userTableHolder">
</div>

