{% if saved %}
<div style="text-align: center;">
    <span class="label label-info" style="width: 50%;">Profile Saved.</span>
</div>
<br />
{% endif %}
{% if errors %}
<div style="text-align: center;">
    {% for error in errors %}
    <span class="label">{{error}}</span>
    <br />
    {% endfor %}
</div>
{% endif %}
<form id="userSettingsForm" class="form-horizontal form-group" action="/account/admin/user/{{member.pk}}/" method="POST">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="usernameInput">Username:</label>
        <div class="controls">
            <input type="text" class="input-sm form-control input-margin" name="username" value="{{member.username}}" id="usernameInput">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="emailInput">Email Address:</label>
        <div class="controls">
            <input type="text" class="input-email input-sm form-control input-margin" name="email" id="emailInput" value="{{member.email}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="newPassword">Set Password:</label>
        <div class="controls">
            <input type="password" id="newPassword" class="input-sm form-control input-margin" name="new_password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="newPassword">Confirm Password:</label>
    		<input type="password" id="passwordConfirm" class="input-sm form-control input-margin" name="confirm_password">
            <button class="btn btn-info btn-sm" onclick="SetRandomPassword();">Randomize</button>
            <div>
                <span id="randomPasswordSpan" style="display:none;" class="label label-info"></span>
            </div>
    </div>
            {% if member.email %}
       	<div class="checkbox">
        	<label>
           		<input type="checkbox" id="emailPassword" name="email_password"> Email New Password 
           	</label>
        </div>
        {% endif %}
        <div class="checkbox margin-input">
        	<label>
            	<input type="checkbox" id="userEnabled" name="enabled" {% if member.is_active %} checked="checked" {% endif %} {% if user == member %} disabled="disabled" {% endif %}> Active
            </label>
        </div>
            {% if user == member %}
        
            <input type="hidden" id="userHiddenEnabled" name="enabled" value="on"> 
            {% endif %}
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-success btn-sm" onclick="SaveUser({{member.pk}});" id="saveUserButton">Save User</button>
            <button class="btn btn-danger btn-sm" id="deleteUserButton" {% if user == member %} disabled="disabled" {% endif %}>Delete User</button>
            <button class="btn btn-warning btn-sm" style="display: none;" id="reallyDeleteUser">Really Delete</button>
            <button class="btn btn-danger btn-sm" style="display: none;" id="reallyReallyDeleteUser" onclick="DeleteUser({{member.pk}});">Really Really Delete</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('#userSettingsForm').submit(function(e){
                e.preventDefault();
                return false;
                });
    $('#deleteUserButton').click(function(e){
                $(this).hide();
                $('#reallyDeleteUser').show();
                });
    $('#reallyDeleteUser').click(function(e){
                $(this).hide();
                $('#reallyReallyDeleteUser').show();
                });
</script>
