#baseHeadDiv
{
    display: none;
}

.registerBox
{
    color: #C8C8C8;
    background-image: url('../images/logInPnl.png');
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    -webkit-border-radius: 20px;
    max-width: 300px;
    border: thin solid #CDCDCD;
    padding: 20px 20px 20px 20px;
    text-align: center;
    list-style-type: none;
}
.registerBox li
{
    margin-bottom: 10px
}
.application-holder
{
    margin-left: 30%;
}
