.draggable-response-container {
    background-color: rgba(70,69,69,0.9);
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 63px;
    margin-right: 2px;
    display: none;
    padding-bottom: 10px;
    width: 600px

}

#cancelHolder {
	margin-left: 578px;
}

.panel-textbox {
	width: 94%; 
	margin-left: 3%; 
	padding: 5px;
	border-radius: 5px;
}

.input-margin {
    margin-bottom: 5px;
}

.glyphicon {
	cursor: pointer;	
}

.copyrightNotice {
    font-size: 8pt;
}

.center_text
{
    text-align:center;
}


/** 
 * override some things from bootstrap.css
 */

.modal-header {
    padding-top: 1px;
    padding-bottom: 1px;
}

.modal-body {
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-mini {
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
    padding-left: 2px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    background: #375a7f;
    border-color: #375a7f;
}
