#baseHeadDiv
{
    display: none;
}
.homegridleft
{
	margin-right: 0px;
	float: left;
	width: 450px;
}

.homegridright
{
	float: left;
	margin-left: 20px;
}

#notificationRow
{
    text-align: center;
}

.footer
{
    display: none;
}
