<div class="modal-header">
    <h3>Add Workflow Action</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="add-workflow-item-form">
        <div class="control-group">
            <label class="control-label" for="workflow-name">Name:</label>
            <div class="controls">
                <input type="text" id="workflow-name" name="name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description-field">Description:</label>
            <div class="controls">
                <textarea id="description-field" name="description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="order-field">Order (Number Only):</label>
            <div class="controls">
                <input type="text" class="input input-mini" id="order-field" name="order">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="type-field">Action Type:</label>
            <div class="controls">
                <select name="action_type">
                    <option value="1">Approval - Any recruiter can approve.</option>
                    <option value="2">Countersign - Two recruiters must approve.</option>
                    <option value="3">Vote - Either a fixed or majority vote is required.</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="votes-field">Votes Required (blank for majority):</label>
            <div class="controls">
                <input id="votes-field" type="text" class="input input-mini" name="votes">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" name="required"> Required Action
                </label>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#add-workflow-item-form').submit(function(e){
                e.preventDefault();
                SaveNewWorkflowAction();
                return false;
                });
    </script>
</div>
<div class="modal-footer">
    <button class="btn btn-success" onclick="SaveNewWorkflowAction();">Add</button>
    <button class="btn" onclick="$('#modalHolder').modal('hide');">Cancel</button>
</div>
