<h4>Keys on File:</h4>
    <div class="accordion" id="app-api-accordion">
        {% for api_key in user.api_keys.all %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#app_api_accordion" href="#key_{{api_key.pk}}_info">
                    <button style="margin-right: 15px;" type="button" class="btn btn-danger btn-mini" title="Remove Key" onclick="ApplicantRemoveAPIKey({{api_key.pk}}, {{application.pk}});">X</button> &nbsp;
                    Key ID: {{api_key.keyid}} &nbsp; Access: {{api_key.access_mask}}
                </a>
            </div>
            <div class="accordion-body collapse" id="key_{{api_key.pk}}_info">
                <h5 style="margin-left: 25px;">Characters:</h5>
                <ul>
                    {% for char in api_key.characters.all %}
                    <li><img src="https://image.eveonline.com/Character/{{char.charid}}_64.jpg"></img> <strong style="margin-left: 10px;">{{char.name}}</strong></li>
                    {% empty %}
                    <label class="label label-info">No characters for this key!</label>
                    {% endfor %}
                 </ul>
            </div>
        </div>
        {% empty %}
        <h6>There are no API Keys on file!</h6>
        {% endfor %}
    </div>
