{% extends "base.html" %}
{% block title %}Membership Application{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/app_base.css"></link>
<script type="text/javascript" src="{{STATIC_URL}}js/app_base.js"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}
{% block sitetracker %}{% endblock %}
{% block contentheader %}{% endblock %}
{% block content %}{% endblock %}
{% block feedback %}{% endblock %}
{% block footer %}{% endblock %}
{% block legal %}{% endblock %}
