{% extends "app_base.html" %}
{% block contentheader %}
{% if app.instructions and not status_view %}
<div style="margin-left: 10%;">
    <h4>Instructions: {{app.instructions}}</h4>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="well">
    <ul class="nav nav-pills">
        <li class="active"><a href="#api-tab" data-toggle="tab">API Keys</a></li>
        {% if not status_view %}
        {% for stage in stages %}
        <li><a href="#stage-{{stage.pk}}" data-toggle="tab">{{stage.name}}</a></li>
        {% endfor %}
        <li><a href="#stage-submit" data-toggle="tab">Finish</a></li>
        {% else %}
        <li><a href="#stage-status" data-toggle="tab">Application Status</a></li>
        {% endif %}
    </ul>
    <div class="alert hide alert-error" id="app_error_alert">
        <p id="app_error_message"></p>
    </div>
    <div class="alert {% if not status_view %}hide{% endif %} alert-success" id="app_success_alert">
        <p>Your application has been saved successfully!</p>
    </div>
    <form id="application-form" class="form-horizontal" method="post">
        {% csrf_token %}
    <div class="tab-content">
        <div class="tab-pane active" id="api-tab">
            <h3>API Information:</h3>
            <div class="row span12">
                <div id="api_alert_placeholder">
                </div>
                <div class="span5">
                    <h4>Add a key:</h4>
                    <div class="form-horizontal" id="api_add_key">
                        <input type="hidden" name="user_id" value="{{user.pk}}">
                        <div class="control-group">
                            <label for="api_key_id" class="control-label">Key ID:</label>
                            <div class="controls">
                                <input class="input-small" type="text" name="key_id" id="api_key_id">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="api_key_vcode" class="control-label">vCode:</label>
                            <div class="controls">
                                <input type="text" name="vcode" id="api_key_vcode" class="input-large">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="api_key_add_btn" type="button" onclick="ApplicantAddAPI({{application.pk}});" class="btn btn-info">Add Key</button>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#api_add_key').submit(function(e){
                                e.preventDefault();
                                return false;
                                });
                    </script>
                </div>
                <div id="api_keys_on_file" class="span5 offset1">
                    {% include "api_widget.html" %} 
                </div>
            </div>
        </div>
        {% load rotags %}
        {% for stage in stages %}
        <div class="tab-pane" id="stage-{{stage.pk}}">
            <h3>{{stage.name}}</h3>
            <p class="text-info">{{stage.description}}</p>
            {% for q in questions|key:stage.pk %}
                    {% render_question q %}
            {% endfor %}
        </div>
        {% endfor %}
        {% if status_view %}
        <div class="tab-pane" id="stage-status">
            <h3>Application Status: {% if not application.disposition %} Open {% elif application.disposition == 1 %} Accepted {% elif application.disposition == 2 %} Rejected {% else %} Deferred{% endif %}</h3>
            <p class="text-info"> Your application was submitted on {{application.submitted|date:'Y-M-d h:m'}}.</p>
        </div>
        {% endif %}
        <div class="tab-pane" id="stage-submit">
            <h3>Submit Application</h3>
            <p class="text-info">
                When you are ready to submit your application, please click below. You will not be able to edit the application once submitted; however, you will be able to edit your API keys from the status page.
            </p>
            <br />
            <button class="btn btn-large btn-info" id="btn-app-submit" type="submit">Submit Application</button>
        </div>
    </form>
    </div>
</div>
<script type="text/javascript">
    $('#application-form').submit(function(e){
            e.preventDefault();
            SubmitApplication({{application.pk}});
            return false;
            });
</script>
{% endblock %}
