{% extends "base.html" %}
{% block title %}Edit Applications{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/ro_app_editor.js"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span2">
        <h4>Applications:</h4>
        <ul style="margin-top: 25px;" class="nav nav-pills nav-stacked">
            {% for application in apps %}
            <li><a data-toggle="pill" href="#app{{application.pk}}" onclick="GetApplication({{application.pk}});">{{application.name}}</a></li>
            {% empty %}
            <li>None Defined!</li>
            {% endfor %}
            <li><a data-toggle="pill" href="#applicationadd"><i class="icon-plus"></i> Add New</a></li>
        </ul>
    </div>
    <div class="span9 offset1">
        <div class="tab-content">
            {% for application in apps %}
            <div class="tab-pane" id="app{{application.pk}}">
            </div>
            {% endfor %}
            <div class="tab-pane" id="applicationadd">
                 <form class="form-horizontal" id="newAppForm">
                    <h5>Application Settings:</h5>
                    <div class="control-group">
                        <label for="applicationName" class="control-label">Name:</label>
                        <div class="controls">
                            <input type="text" id="applicationName" name="name" value="{{application.name}}">
                        </div>
                    </div>
                     <div class="control-group">
                        <label for="appInstructions" class="control-label">Instructions:</label>
                        <div class="controls">
                            <textarea type="text" id="appInstructions" name="instructions">{{application.instructions}}</textarea>
                        </div>
                    </div>
                     <div class="control-group">
                        <label for="appStandings" class="control-label">Use Standings From:</label>
                        <div class="controls">
                            <input type="text" id="appStandings" class="corpAPIAuto" name="standings" {% if application.use_standings %}value="{{application.use_standings.name}}"{% endif %}>
                        </div>
                    </div>
                     <div class="control-group">
                        <label for="appAcceptGroup" class="control-label">Group on Accept:</label>
                        <div class="controls">
                            <input type="text" id="appAcceptGroup" class="groupAuto" name="accept_group" {% if application.accept_group %}value="{{application.accept_group.name}}"{% endif %}>
                        </div>
                    </div>
                    <div class="control-group">
		                <label for="appAcceptVotes" class="control-label">Required number of votes to accept:</label>
		                <div class="controls">
		                    <input type="text" id="appAcceptVotes" class="groupAuto" name="required_votes">
		                </div>
		            </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" id="appUserRequire" name="require_user" {% if application.require_account %}checked="checked"{% endif %}> Require pre-existing account
                            </label>
                           <label class="checkbox">
                               <input type="checkbox" id="appDisable" name="disable_user" {% if application.disable_user_on_failure %}checked="checked"{% endif %}> Disable Account on Reject
                            </label>
                             <label class="checkbox">
                                 <input type="checkbox" id="appPurge" name="purge_api" {% if application.purge_api_on_failure %}checked="checked"{% endif %}> Purge API on Reject
                            </label>
                       </div>
                   </div>
                   <h5>Mail Templates:</h5>
                   <p class="text-info">
                        The following will be sent via email to the applicant if they provide an email address on registration. The text %APPLICANT% will be replaced by the applicant's username. If left blank, no email will be sent.
                    </p>
                    <div class="control-group">
                        <label for="accept_sbj" class="control-label">Accept Subject:</label>
                        <div class="controls">
                            <input type="text" id="accept_sbj" name="accept_sbj" {% if application.accept_subject %}value="{{application.accept_subject}}"{% endif %}>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="accept_mail" class="control-label">Accept Mail:</label>
                        <div class="controls">
                            <textarea id="accept_mail" name="accept_mail">{% if application.accept_mail %} {{application.accept_mail}} {% endif %}</textarea>
                        </div>
                    </div>
                     <div class="control-group">
                        <label for="defer_sbj" class="control-label">Defer Subject:</label>
                        <div class="controls">
                            <input type="text" id="defer_sbj" name="defer_sbj" {% if application.defer_subject %}value="{{application.defer_subject}}"{% endif %}>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="defer_mail" class="control-label">Defer Mail:</label>
                        <div class="controls">
                            <textarea id="defer_mail" name="defer_mail">{% if application.defer_mail %}{{application.defer_mail}}{% endif %}</textarea>
                        </div>
                    </div>
                     <div class="control-group">
                        <label for="reject_sbj" class="control-label">Reject Subject:</label>
                        <div class="controls">
                            <input type="text" id="reject_sbj" name="reject_sbj" {% if application.reject_subject %}value="{{application.reject_subject}}"{% endif %}>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="reject_mail" class="control-label">Reject Mail:</label>
                        <div class="controls">
                            <textarea id="reject_mail" name="reject_mail">{% if application.reject_mail %}{{application.reject_mail}}{% endif %}</textarea>
                        </div>
                    </div>
                 <div class="control-group">
                       <div class="controls">
                           <button type="submit" class="btn btn-large btn-success">Create</button>
                       </div>
                    </div>
                </form>
                <script type="text/javascript">
                    $('#newAppForm').submit(function(e){
                            e.preventDefault();
                            NewApplication();
                            return false;
                            });
                </script>
           </div>
        </div>
    </div>
</div>
{% endblock %}
