{% load humanize %}
<div id="apiRecruiterNPCStandings">
    <div class="modal-header">
        <h3>Standings - {{app.app_type.use_standings.name}}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Character</th>
                <th>Standings</th>
            </tr>
            {% for key,value in standings_data.items %}
            <tr>
                <td>{{key}}</td>
                {% if value == True %}
                	 <td><span class="badge badge-important">&#x2717;</span></td>
                {% else %} 
                	 <td><span class="badge badge-success">&#x2713;</span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
