<form class="form-inline" id="apiRecruiterKeyForm" action="'/recruitment/recruiter/{{app.pk}}/api/edit/1/" method="POST">
    {% csrf_token %}
    Key ID: <input type="text" class="input-small" name="Recruiter_key_id" value="{{key.keyid}}"></input>
    vCode: <input type="text" class="input" name="Recruiter_vcode" value="{{key.vcode}}"></input>
    <input id="apiRecruiterKeySubmit" type="submit" class="btn btn-success" value="Submit"></input>
</form>
<script type="text/javascript">
    $('#apiRecruiterKeyForm').submit(function(e){
                e.preventDefault();
                $("#apiRecruiterKeySubmit").attr("disabled", "true");
                RecruiterSaveAPIKey({{app.pk}});             
                return false;
            });
</script>
