{% load humanize %}
<div id="recruiterApprovalAction">
        <h3>Status</h3>
        <table class="table table-hover table-bordered">
            <tr>
                <th width='60%'>Category</th>
                <th>&nbsp;</th>
            </tr>
            {% if app.disposition == 3 %}
            <tr>
            	<td>Reopen application</td>
            	<td>
            		<button id="btnReopenApp" type="submit" class="btn btn-success" onclick=";">Reopen</button>
		    		<button id="btnReallyReopen" class="btn btn-warning" style="display: none;"  onclick=";">Really?</button>
            	</td>
            <tr>
            <script type="text/javascript">
			    $('#btnReopenApp').click(function(){
			        $('#btnReallyReopen').show();
			        $('#btnReopenApp').hide();
			    });
			    $('#btnReallyReopen').click(function(){
			        RecruiterReopenApp({{app.pk}});        
			    });
			</script>
            {% endif %}
            <tr>
            	<td>Application type</td>
            	<td>{{app.app_type.name}}</td>
            <tr>
            <tr>
            	<td>Application submitted</td>
            	<td>{{app.timestamp|date:"Y-m-d H:i"}}</td>
            <tr>
                <td>Meets required accept votes</td>
                <td>
                {% if accept < app.app_type.required_votes %}
                	 <span class="badge badge-important">&#x2717;</span>
                {% else %} 
                	 <span class="badge badge-success">&#x2713;</span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>APIs present</td>
                <td>{{app.applicant.api_keys.count}}</td>
            </tr>
            <tr>
                <td>Interview records</td>
                <td>{{app.interviews.count}}</td>
            </tr>
            {% if app.app_type.use_standings %} 
	            <tr>
	                <td>Standings</td>
	                <td><a href="#" style="width: 180px" onclick="OpenAction('#Standings_{{app.pk}}'); RecruiterGetStandings({{app.pk}});">Click here</a></td>
	            </tr>
            {% endif %}
            
            {% for action in app.actionentry_set.all %}
                <tr>
	                <td>{{action.action.name}}</td>
	                <td>
	                    {% if not action.completed %}
		                	 <span class="badge badge-important">&#x2717;</span>
		                {% else %} 
		                	 <span class="badge badge-success">&#x2713;</span>
		                {% endif %}
	                </td>
	            </tr>
            {% endfor %}
            
        </table>
        <form id="commentForm">
			<div id="commentDiv">
				<label for="appComment" class="control-label">Comment:</label>
			    <div class="controls">
			        <textarea class="form-control input-xxlarge" rows="5" id="appComment" name="appComment"></textarea>
				</div>
			</div>
			<div class="controls">
		    	<button type="submit" class="btn btn-success" onclick=";">Submit</button>
			</div>
		</form>
        
        <table class="table table-hover table-bordered">
        {% for comment in app.ro_comments.all reversed %}
        	<tr>
        		<td><b>{{comment.author.username}} - {{comment.timestamp|date:"Y-m-d H:i"}}</b><br>{{comment.comment|linebreaksbr}}</td>
        	</tr>
        {% endfor %}
        </table>
<script type="text/javascript">
    $('#commentForm').submit(function(e){
                e.preventDefault();
                RecruiterSubmitComment({{app.pk}});          
                return false;
            });
</script>