{% if saved  %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>The application stage was saved successfully.</strong>
</div>
{% endif %}
{% if error %}
 <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{error}}</strong>
</div>
{% endif %}
<div class="well" id="stage{{stage.pk}}Details">
    <h4>Settings</h4>
    <form class="form-horizontal" id="stage{{stage.pk}}DetailsForm">
        <div class="control-group">
            <label for="stage{{stage.pk}}Name" class="control-label">Name:</label>
            <div class="controls">
                <input type="text" id="stage{{stage.pk}}Name" name="name" value="{{stage.name}}">
            </div>
        </div>
         <div class="control-group">
            <label for="stage{{stage.pk}}Description" class="control-label">Description:</label>
            <div class="controls">
                <textarea type="text" id="stage{{stage.pk}}Description" name="description">{{stage.description}}</textarea>
            </div>
        </div>
         <div class="control-group">
            <label for="stage{{stage.pk}}Order" class="control-label">Order:</label>
            <div class="controls">
                <input type="text" class="input-mini" id="stage{{stage.pk}}Order" name="order" value="{{stage.order}}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success" type="submit">Save</button>
                <button id="btnDeleteAppStage{{stage.pk}}" class="btn btn-danger">Delete App Stage</button>
                <button id="btnReallyDeleteAppStage{{stage.pk}}" class="btn btn-warning" style="display: none;">Really Delete</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#stage{{stage.pk}}DetailsForm').submit(function(e){
                e.preventDefault();
                UpdateStageDetails({{stage.app_type.pk}}, {{stage.pk}});
                return false;
                });
         $('#btnDeleteAppStage{{stage.pk}}').click(function(e){
                e.preventDefault();
                $('#btnDeleteAppStage{{stage.pk}}').hide();
                $('#btnReallyDeleteAppStage{{stage.pk}}').show();
                return false;
                });
         $('#btnReallyDeleteAppStage{{stage.pk}}').click(function(e){
                e.preventDefault();
                DeleteAppStage({{stage.app_type.pk}}, {{stage.pk}});
                return false;
                });
    </script>
</div>
<div>
    <h4>Questions</h4>
    {% load rotags %}
    <form id="stage{{stage.pk}}NullForm" class="form">
    {% for q in questions.all %}
    {% render_edit_question q %}
    {% empty %}
    <label class="label label-success">There are no questions, please create some below.</label>
    {% endfor %}
    </form>
    <script type="text/javascript">
        $('#stage{{stage.pk}}NullForm').submit(function(e){
                e.preventDefault();
                return false;
                });
    </script>
    <h5>New Question:</h5>
    <form class="form-horizontal" id="Stage{{stage.pk}}NewQuestionForm">
        <div class="control-group">
            <label class="control-label" for="Stage{{stage.pk}}Question">Question:</label>
            <div class="controls">
                <input type="text" id="Stage{{stage.pk}}Question" name="question"> &nbsp;
                 <label class="checkbox inline">
                    <input type="checkbox" name="required"> Required
                </label>
           </div>
       </div>
       <div class="control-group">
           <label class="control-label" for="Stage{{stage.pk}}QuestionDescription">Description:</label>
           <div class="controls">
               <textarea id="Stage{{stage.pk}}QuestionDescription" name="description" class=""></textarea>
           </div>
       </div>
        <div class="control-group">
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="type" value="1" onclick="$('#Stage{{stage.pk}}ChoicesDiv').hide();"> Text Field
                </label>
                <label class="radio inline">
                    <input type="radio" name="type" value="2" onclick="$('#Stage{{stage.pk}}ChoicesDiv').hide();" > Text Box
                </label>
                <label class="radio inline">
                    <input type="radio" name="type" value="3" onclick="$('#Stage{{stage.pk}}ChoicesDiv').show();"> Radio Buttons (single)
                </label>
                <label class="radio inline">
                    <input type="radio" name="type" value="4" onclick="$('#Stage{{stage.pk}}ChoicesDiv').show();"> Checkboxes (multiple)
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Stage{{stage.pk}}NewOrder">Order:</label>
            <div class="controls">
                <input type="text" class="input-mini" name="order" id="Stage{{stage.pk}}NewOrder">
            </div>
        </div>
        <div class="control-group" id="Stage{{stage.pk}}ChoicesDiv" style="display: none;">
            <label class="control-label" for="Stage{{stage.pk}}NewChoices">Choices (one per line):</label>
            <div class="controls">
                <textarea id="Stage{{stage.pk}}NewChoices" name="choices"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Create Question</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#Stage{{stage.pk}}NewQuestionForm').submit(function(e){
                e.preventDefault();
                NewQuestion({{stage.app_type.pk}}, {{stage.pk}});
                return false;
                });
    </script>
</div>
