<div class="row">
    {% for action in actions %}
        <div class="span3 well">
            <h4>
                {{action.name}} 
                {% if action.required %}
                <i class="icon-star" title="This is a required action."></i>
                {% else %}
                <i class="icon-star-empty" title="This is NOT a required action."></i>
                {% endif %}
            </h4>
            <p class="text-info">{{action.description}}</p>
            <button class="btn btn-info" onclick="GetEditWorkflowDialog({{action.pk}});"><i class="icon-pencil"></i> Edit</button> 
            <button id="btnDeleteAction_{{action.pk}}" class="btn btn-danger"><i class="icon-remove"></i> Remove</button>
            <button id="btnReallyDeleteAction_{{action.pk}}" class="btn btn-warning" style="display: none;"  onclick="DeleteWorkflowAction({{action.pk}});"><i class="icon-remove"></i> Really?</button>
            <script type="text/javascript">
            $('#btnDeleteAction_{{action.pk}}').click(function(){
                $('#btnReallyDeleteAction_{{action.pk}}').show();
                $('#btnDeleteAction_{{action.pk}}').hide();
            });
            </script>
        </div>
    {% empty %}
        <div class="span3 well">
            <h4 class="text-info"> No Actions Defined</h4>
        </div>
    {% endfor %}
        <div class="span3 well">
            <button class="btn btn-info btn-block" onclick="GetAddWorkflowDialog();"><i class="icon-plus"></i> Add Action</button>
        </div>
</div>

