<div class="tab-pane active" id="member{{member.user.pk}}Actions">
	<button class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#member{{member.user.pk}}Sites" onclick="ReloadBossFleetMember({{member.fleet.pk}}, {{member.user.pk}});"><i class="glyphicon glyphicon-chevron-down"></i> Site List</button>
    <button class="btn btn-primary btn-xs" onclick="STPromoteMember({{member.fleet.pk}}, {{member.user.pk}});">Make Boss</button>
    <button class="btn btn-danger btn-xs" onclick="STLeaveFleet({{member.fleet.pk}}, {{member.user.pk}});">Kick Member</button>
</div>
<div id="member{{member.user.pk}}Sites" class="collapse">
    <img src="/static/images/loading.gif"></img>
</div>
