{% load sitetracker %}
<table class="table stBossMemberEntry table-hover table-bordered">
<tr data-toggle="collapse" data-target="#member{{member.user.pk}}Details">
    <td class="stBossMemberEntryItem">{{member.user.username}} {% if member.pending_sites %}<i class="icon-question-sign" title="Pending credits!"></i>{% endif %}</td>
    <td class="stBossMemberEntryItem">{{member.jointime|date:"H:i"}}</td>
</tr>
</table>
<div class="stMemberDetails collapse" id="member{{member.user.pk}}Details">
    {% include "st_boss_member_refresh.html" %}
</div>

