{% load static %}
<script src="{% get_static_prefix %}js/sitetracker_functions.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/sitetracker.css" />
{% load sitetracker %}
<div id="stStatusHeader" class="stStatusHeader text-left" data-toggle="collapse" data-target="#stFleetListing">
    {% st_status user %}
</div>
<div id="stFleetListing" class="collapse {% if refresh %}in{% endif %}">
    {% if myfleets|length %}
    <h5 class="stFleetHeader">My Fleets:</h5>
    <div id="myFleetsHolder" class="myFleetsHolder">
        {% st_my_fleets user %}
    </div>
    {% endif %}
    <h5 class="stFleetHeader">Available Fleets:</h5>
    <div id="availFleetsHolder" class="availFleetsHolder">
        {% st_avail_fleets user %}
    </div>
</div>

