<p class="stStatusHeaderText">
<i class="icon-chevron-down" style="cursor: pointer;" title="Click to expand / collapse"></i> <strong>SiteTracker Status:</strong> &nbsp
    {% if myfleets|length %}
    <span class="text-info">Active in {{myfleets|length}} fleet(s)! {% if availfleets|length > 1 %} There are {{fleetcount}} fleets active. {% endif %}</span>
    {% else %}
    <span class="text-error">Not active in any fleet! There are {{availfleets|length}} fleets active.</span>
    {% endif %}
</p>

