// @todo Split into modules/blocks

@import 'bemify';
@import 'bourbon';
@import 'yeti/variables';
@import 'include-media';

@import url(http://fonts.googleapis.com/css?family=Raleway:600,400);

body {
  background: url('/img/loginbgr.jpg') no-repeat;
  background-attachment: fixed;
}

@include block('auth-panel') {

  .nav-tabs > li > a {
    color: $panel-info-text;
    background-color: $panel-info-heading-bg;
  }

}

@include block('ui-view-container') {
  position: relative;
  height: 65px;
}

[ui-view] {

  &.ng-enter {
    opacity: 0;
    @include transform(scale3d(0.5, 0.5, 0.5));
  }

  &.ng-enter-active {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }

  &.ng-leave {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }

  &.ng-leave-active {
    opacity: 0;
    @include transform(translate3d(100px, 0 , 0));
  }

  &.ng-enter, &.ng-leave {

    position: absolute;
    left: 0;
    right: 0;
    @include animation(all .5s ease-in-out);
  }

}

@include block('content') {
  padding-bottom: $navbar-height;
}

@include block('eve-wspace-footer') {

  position: fixed;
  display: block;
  background: $navbar-default-bg;
  color: $navbar-default-color;
  border: none;
  font-size: 13px;
  font-weight: 300;
  min-height: $navbar-height;
  min-width: 100%;
  bottom: 0;
  left: 0;
  @include margin(15px 0px 0px 0px);
  @include padding(0 15px 0 15px);
  @include clearfix;

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}

svg {
  .node {
    font-family: 'Raleway', $helvetica;

    text {
      fill: white;
      @include filter(drop-shadow(5px 10px 0 white));
    }

    circle {
      fill: white;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

  }

  .link {
    fill: none;
    stroke: gray;
    stroke-width: 1.5px;
  }
}

@import 'eve-wspace/d3-tooltip';
@import 'eve-wspace/map-panel';
