<div id="sendAlertDialog">
    <div class="modal-header">
        <h4>Send Alert</h4>
    </div>
    <div class="modal-body">
        <form id="sendPingForm" class="form-group" method="POST" action="/alerts/send/">
            <div class="control-group">
                <div class="col-md-4 input-margin">
                    Subject: 
                </div>
                <div class="col-md-8 input-margin">
                    <input type="text" class="form-control" name="alert_subject" />
                </div>
                <div class="col-md-4 input-margin">
                    Message: 
                </div>
                <div class="col-md-8 input-margin">
                    <textarea name="alert_message" class="form-control"></textarea>
                </div>
                <div class="col-md-4 input-margin">
                    Group: 
                </div>
                <div class="col-md-8 input-margin">
                    <select name="alert_group" class="form-control" style="width: 250px;">
                        {% for group in alert_groups %}
                        <option value="{{group.pk}}">{{group.name}}</option>
                        {% empty %}
                        <option value="-1">You cannot ping any groups.</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" onclick="$('#modalHolder').empty().parent().hide();">Cancel</button>
        <button class="btn btn-primary" onclick="SendAlert();">Send</button>
    </div>
    <script type="text/javascript">
        $('#sendPingForm').submit(function(e){
                    e.preventDefault();
                    return false;
                });
    </script>
</div>
